/*+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+
商品リスト
+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+*/
.includes_history{
    .inner{
        @include media-sp {
            padding-right: 0 !important;
        }
    }
    &-head{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .form-block-select{
            @include media-sp {
                margin-top: 18px;
            }
            &-lined{
                &.small{
                    border: 1px solid #333333;
                    border-radius: 4px !important;
                    width: 136px;
                }
            }
        }
    }
    .owl-stage-outer{
        margin-top: -9px;
        .item{
            padding-top: 9px;
        }
    }
    
    .form-block-check{
        position: absolute;
        top: 0;
        right: 5px;
        z-index: 1;
        width: 13px;
        height: 13px;
        _::-webkit-full-page-media, _:future, :root &{
            top: -15px;
        }
        @include media-sp {
            width: 20px;
            height: 20px;
            right: -14px;
        }
        label{
            &:before{
                width: 13px;
                height: 13px;
                @include media-sp {
                    width: 20px;
                    height: 20px;
                }
                background-size: cover;
                vertical-align: baseline;
            }
        }
    }
}

.itemcard{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #F5F5F5;
    padding: 0 0 20px;
    .item:last-child &{
        @include media-sp {
            border-bottom: none;
        }
    }
    &-left{
        width: 106px;
        margin-right: 20px;
    }
    &-img{
        display: block;
    }
    &-right{
        width: calc(100% - 106px - 20px);
    }
    &-heading{
        font-size: 13px;
        font-weight: 500;
        line-height: 1.46;
        margin: 0 0 8px;
    }
    &-serial{
        font-size: 13px;
        color: #707070;
    }
    &-price{
        font-size: 13px;
        color: #FF0000;
        margin: 0 0 18px;
    }
    &-star{
        margin: 0 0 18px;
        font-size: 15px;
    }
    &.ranking{
        .itemcard-star{
            @include media-sp {
                display: none;
            }
        }
    }
    &-info{
        font-size: 12px;
        margin: 10px 0 0;
        *{
            line-height: 1.5;
        }
        &-discount{
            color: $accent-color2;
            margin: 0 0 7px;
            @include media-sp {
                margin: 0;
            }
        }
        &-stock{
            margin: 0 0 7px;
            @include media-sp {
                margin: 0;
            }
            
            &.stock2{
                color: $accent-color3;
            }
            &.stock1{
                color: $accent-color4;
                font-weight: 500;
            }
            &.stock0{
                color: $default-color;
            }
            
        }
        &-shipping{
            @include media-sp {
                display: none;
            }
            
        }
    }
    
    &-virtical{
        &-img{
            display: block;
            margin: 0 0 12px;
        }
        &-heading{
            font-size: 13px;
            font-weight: 400;
            line-height: 1.46;
            margin: 0 0 8px;
        }
        &-price{
            font-size: 13px;
            color: #FF0000;
            margin: 0 0 15px;
        }
        &-info{
            .includes_history &{
                display: block;
            }
            font-size: 12px;
            margin: 10px 0 0;
            letter-spacing: -0.075em;
           *{
                line-height: 1.4;
            }
            &-discount{
                color: $accent-color2;
            }
            &-stock{
                color: #0CB473;
                font-weight: 600;
            }
        }
        
        &.fc{
            font-size: 11px;
            *{
                font-size: 11px;
            }
            .itemcard-star{
                margin-bottom: 4px;
                .review-star{
                    vertical-align: text-bottom;
                }
            }
            .itemcard-virtical{
                &-heading{
                    margin-bottom: 6px;
                }
                &-info{
                    &-rank{
                        color: #0CB473;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}