<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'cart';
_%>
<%- include('../includes/_header') %>
<main id="main-content" class="main-content">

    <div class="cart-btmborder" id="cartcomplete">
        <div class="container">
            <section class="cart-complete">
                <div class="flow-wrap">
                    <div class="flow-list">
                        <div class="flow-item">
                            <div class="flow-itemicon">
                                <img src="./assets/img/cart/icon-cart.png" alt="カート">
                            </div>
                            <div class="flow-itemtext">
                                カート
                            </div>
                        </div>
                        <div class="flow-item">
                            <div class="flow-itemicon">
                                <img src="./assets/img/cart/icon-confirm.png" alt="確認">
                            </div>
                            <div class="flow-itemtext">
                                確認
                            </div>
                        </div>
                        <div class="flow-item">
                            <div class="flow-itemicon">
                                <img src="./assets/img/cart/icon-complete.png" alt="完了">
                            </div>
                            <div class="flow-itemtext">
                                完了
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="thankstext">
                    <li class="thankstext-message">ありがとうございました。<br> ご注文手続きが完了しました。</li>
                    <li class="thankstext-order">注文番号：XXXXXXXXXXXXX</li>
                    <li class="thankstext-senddesc">以下、メールアドレスに送信しました。<br class="is-sp">メールが届かない場合、お問合せください。<br><span class="thankstext-email">*****@********</span></li>
                </ul>

                <div class="linkbtn-wrap">
                    <div class="linkbtn-top">
                        <a class="btn blue-btn radius-btn" href="">ダウンロード</a>
                    </div>
                    <div class="linkbtn-bottom">
                        <a class="btn outline-btn radius-btn" href="#">マイページへ</a>
                        <a class="btn outline-btn radius-btn" href="#">ショッピングカートへ</a>
                        <a class="btn outline-btn radius-btn" href="#">トップページへ</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <%- include('../includes/_recommend', { maxitem: 'eight' }); %>

</main>


<%- include('../includes/_footer'); %>
