<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'category';
_%>
<%- include('../includes/_header') %>
<div class="breadcrumb">
    <a href="">トップ</a> &gt; <a href="">すべてのカテゴリー</a>
</div>

<main id="main-content" class="main-content">
	
    <section class="cocodecow">
        <div class="inner inner-large">
            <h2 class="section-heading">ご確認</h2>
        </div>
        
        <div class="inner inner-medium cocodecow-inner">
            
            <h2 class="cocodecow-heading"><img src="./assets/img/category/cocodecow-heading.png" alt="EDIONネットショップ ココデカウ" width="475"></h2>
            <p>これよりエディオングループのフォーレスト株式会社が運営する通販サイト「ココデカウ」に移動します。</p>
                    
            <dl class="cocodecow-dl">
                <dt>
                    <div class="cocodecow-dl-left">
                        <div class="cocodecow-dl-left-img">
                            <img src="./assets/img/category/cocodecow-card.png" alt="" width="128">
                            <div class="cocodecow-dl-left-txt">ポイント利用</div>
                        </div>
                        <img class="cocodecow-dl-left-status" src="./assets/img/category/cocodecow-status01.svg" alt="可">
                    </div>
                </dt>
                <dd>
                    <p>「 <img class="cocodecow-logo" src="./assets/img/category/cocodecow-logo.png" alt="ココデカウ" width="77"> 」サイトのお支払いに、エディオンポイントがご利用できます。</p>
                </dd>

                <dt>
                    <div class="cocodecow-dl-left">
                        <div class="cocodecow-dl-left-img">
                            <img src="./assets/img/category/cocodecow-card.png" alt="" width="128">
                            <div class="cocodecow-dl-left-txt">ポイント付与</div>
                        </div>
                        <img class="cocodecow-dl-left-status" src="./assets/img/category/cocodecow-status02.svg" alt="不可">
                    </div>
                </dt>
                <dd>
                    <p>「 <img class="cocodecow-logo" src="./assets/img/category/cocodecow-logo.png" alt="ココデカウ" width="77"> 」サイトのお支払いに、エディオンポイントがご利用できます。</p>
                </dd>
                
                <dt>
                    <div class="cocodecow-dl-left">
                        <div class="cocodecow-dl-left-img">
                            <img src="./assets/img/category/cocodecow-card.png" alt="" width="128">
                            <div class="cocodecow-dl-left-txt">長期修理保証</div>
                        </div>
                        <img class="cocodecow-dl-left-status" src="./assets/img/category/cocodecow-status02.svg" alt="不可">
                    </div>
                </dt>
                <dd>
                    <p>「 <img class="cocodecow-logo" src="./assets/img/category/cocodecow-logo.png" alt="ココデカウ" width="77"> 」サイトのお支払いに、エディオンポイントがご利用できます。</p>
                </dd>
            </dl>
            
            <div class="cocodecow-bottom">
                <p>よろしければ以下の<br class="is-sp">「ココデカウサイトへ移動する」を<br class="is-sp">クリックして下さい。</p>
            </div>
            
            <div>
                <a href="" class="btn blue-btn large-btn">ココデカウサイトへ移動する</a>
            </div>
            
        </div>
        
    </section>
    
    
</main>
<%- include('../includes/_footer'); %>
