<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'cart';
_%>
<%- include('../includes/_header') %>
<main id="main-content" class="main-content">
    <a href="javascript:void(0);" class="js-modal-order01 btn black-btn large-btn" modal-id="modal">Open Modal</a>


    <div class="container" id="checksheet">
        <section>
            <div id="modal" class="modal-block wide" style="display: block">
                <div class="modal-block-inner01">
                    <div class="is-pc">
                        <span class="close-btn js-close"></span>
                    </div>
                    <div class="is-sp modal-block-return">
                        <span class="modal-block-returnbtn js-close">戻る</span>
                    </div>

                    <h2 class="modal-block-ttl">設置チェックシート</h2>
                    <div class="form-sec">
                        <form action="###" method="post">
                            <div class="modal-block-inner-content">
                                <div class="modal-block-inner-contentttl">
                                    <h3>ハイセンス 「標準工事込み」 6畳向け 冷暖房インバーターエアコン KuaL Sシリーズ ホワイト HAS22DE9WS</h3>
                                </div>
                                <div class="modal-block-inner-contentdesc">
                                    <div class="modal-block-inner-contentdescitem">
                                        設置チェック入力後 設置料、工事料が追加されてカートに入ります。<br>
                                        ※搬入や設置の状況により現地で追加料金を頂戴する場合がございます。
                                    </div>
                                    <div class="modal-block-inner-contentdescitem">
                                        ※追加料金のお支払いは、現金のみとなります。<br>
                                        ※工事当日に追加工事が発生した場合は、再度工事日程調整のうえ、後日訪問となることがございます。<br>
                                        ※搬入、工事の見積もりを店舗で行われた場合、見積もり内容、金額はご依頼店舗のみ有効となっております。<br class="is-pc">
                                        （ネット注文の場合、ネット注文の場合、別途再見積もりが必要となりますので、予めご了承願います）<br>
                                        ※チラシ・店頭等で告知の設置・工事の特典は、ネットショップでは対象外となります。あらかじめご了承下さい。<br>
                                        ※エアコン本体のみの販売はいたしておりません。
                                    </div>
                                </div>
                                <div class="check-sec check-sec01">
                                    <h4 class="check-secttl">チェック1.　建物について</h4>
                                    <div class="check-secinput check-secinput01">
                                        <p class="check-secinputttl">建物の種類は？</p>
                                        <div class="check-secinputinput radio-wrap">
                                            <label class="radio-label">
                                                <input type="radio" name="input01-01" value="1">
                                                <span class="radio-text">戸建（持家）</span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input01-01" value="2">
                                                <span class="radio-text">戸建（借家）</span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input01-01" value="3">
                                                <span class="radio-text">集合住宅</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="check-secinput check-secinput02">
                                        <p class="check-secinputttl">建物の種類は？</p>
                                        <div class="check-secinputinput radio-wrap">
                                            <label class="radio-label">
                                                <input type="radio" name="input01-02" value="1">
                                                <span class="radio-text">木造</span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input01-02" value="2">
                                                <span class="radio-text">軽量鉄骨</span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input01-02" value="3">
                                                <span class="radio-text">鉄筋コンクリート</span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input01-02" value="4">
                                                <span class="radio-text">分からない</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="check-secinput check-secinput03">
                                        <p class="check-secinputttl">建物の外壁の種類は？</p>
                                        <div class="check-secinputinput radio-wrap">
                                            <label class="radio-label">
                                                <input type="radio" name="input01-03" value="1">
                                                <span class="radio-text">土壁</span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input01-03" value="2">
                                                <span class="radio-text">セラミック</span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input01-03" value="3">
                                                <span class="radio-text">サイディング</span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input01-03" value="4">
                                                <span class="radio-text">モルタル</span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input01-03" value="5">
                                                <span class="radio-text">分からない</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="check-sec check-sec02">
                                    <h4 class="check-secttl">チェック2.　室内機の場所について</h4>
                                    <p class="check-secdesc mb40">※エアコンの機種によりましては、室内配管が５ｍ以上になると、お取り付けできない場合がございます。<br>
                                        ※室内機を設置するには、天井より５ｃｍ以上、左右の壁より５ｃｍ以上の空きスペースが必要です。<br>
                                        <span class="indent">カーテンレールやカーテンBOXの位置をご確認の上、ご自宅にあったサイズの商品をお選び下さい。</span></p>
                                    <div class="check-secinput check-secinput01">
                                        <p class="check-secinputttl">どの部屋に設置いたしますか？</p>
                                        <div class="check-secinputinput radio-wrap">
                                            <label class="radio-label">
                                                <input type="radio" name="input01-04" value="1">
                                                <span class="radio-text">ＬＤＫ</span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input01-04" value="2">
                                                <span class="radio-text">リビング</span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input01-04" value="3">
                                                <span class="radio-text">寝室</span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input01-04" value="4">
                                                <span class="radio-text">子供部屋</span>
                                            </label>
                                            <label class="radio-label mr-pc15">
                                                <input type="radio" name="input01-04" value="5">
                                                <span class="radio-text">その他</span>
                                            </label>
                                            <div class="input-wrap">
                                                <input type="text" name="text04" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="check-secinput check-secinput02">
                                        <p class="check-secinputttl">室内機の取付場所はどちらになりますか？（戸建の方のみ）</p>
                                        <div class="check-secinputinput radio-wrap">
                                            <label class="radio-label">
                                                <input type="radio" name="input02-01" value="1">
                                                <span class="radio-text">1階</span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input02-01" value="2">
                                                <span class="radio-text">2階</span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input02-01" value="3">
                                                <span class="radio-text">3階</span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input02-01" value="4">
                                                <span class="radio-text">その他</span>
                                            </label>
                                        </div>
                                        <p class="check-secinputnote">※エアコンの機種によりましては、室内配管が５ｍ以上になると、お取り付けできない場合がございます。<br>
                                            ※室内機を設置するには、天井より５ｃｍ以上、左右の壁より５ｃｍ以上の空きスペースが必要です。<br>
                                            <span class="indent">カーテンレールやカーテンBOXの位置をご確認の上、ご自宅にあったサイズの商品をお選び下さい。</span></p>
                                    </div>
                                    <div class="check-secinput check-secinput03">
                                        <p class="check-secinputttl">配管の穴はございますか？</p>
                                        <div class="check-secinputinput radio-wrap">
                                            <label class="radio-label">
                                                <input type="radio" name="input02-02" value="1">
                                                <span class="radio-text">有り</span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input02-02" value="2">
                                                <span class="radio-text">無し<span class="fs-sp11">（木造・モルタル・ALC 1ヶ所：0円（税込））</span></span>
                                            </label>
                                            <div class="pc-spacer"></div>
                                            <label class="radio-label">
                                                <input type="radio" name="input02-02" value="3">
                                                <span class="radio-text">無し<span class="fs-sp11">（コンクリート 1ヶ所：＋14,300円（税込））</span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="check-secinput check-secinput04">
                                        <p class="check-secinputttl">配管の穴が有りの場合どこにありますか？</p>
                                        <div class="check-secinputinput radio-wrap">
                                            <label class="radio-label">
                                                <input type="radio" name="input02-3" value="1">
                                                <span class="radio-text multiple">
                                                    <img class="img" src="./assets/img/cart/item-60x60.png" alt="">
                                                    <span>背面・横・下（穴が壁を貫通して庭、ベランダ等の室外機と接続）</span>
                                                </span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input02-3" value="2">
                                                <span class="radio-text">
                                                    <img class="img" src="./assets/img/cart/item-60x60.png" alt="">
                                                    <span>ハリの下</span>
                                                </span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input02-3" value="3">
                                                <span class="radio-text multiple">
                                                    <img class="img" src="./assets/img/cart/item-60x60.png" alt="">
                                                    <span>壁の中（隠蔽配管－ベランダや外に面していないお部屋等）※</span>
                                                </span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input02-3" value="4">
                                                <span class="radio-text multiple">
                                                    <img class="img" src="./assets/img/cart/item-60x60.png" alt="">
                                                    <span>押入れの中（配管が押入れ内又は縁側等を越えて室外機と接続）※</span>
                                                </span>
                                            </label>
                                            <label class="radio-label">
                                                <input type="radio" name="input02-3" value="5">
                                                <span class="radio-text">
                                                    <img class="img" src="./assets/img/cart/item-60x60.png" alt="">
                                                    <span>分からない</span>
                                                </span>
                                            </label>
                                        </div>
                                        <p class="check-secinputnote">※配管の穴が「壁の中」「押入れの中」の場合は、事前見積もりが必要となり追加料金が発生いたします。<br>
                                            <span class="indent">また、ご購入の商品、設置状態によりましては、対応できない場合もございます。あらかじめご了承下さい。</span><br>
                                            ※事前見積もりは、メールフォームよりお問い合わせをお願いいたします。</p>
                                    </div>
                                </div>

                                <!-- ラジオボタン -->
                                <div class="radio-sec">
                                    <p class="radio-secdesc">エアコン工事につきましては、お取付けの状況により、追加工事が発生する場合がございます。<br>
                                    その際は現地で現金にて追加工事費用を頂戴致します。<br>
                                    <span>※弊社では守秘義務契約を締結した信用できる提携業者に当該業務の一部を委託しております。</span></p>
                                    <div class="radio-secinput">
                                        <input type="checkbox" name="check01" value="1" id="check01" >
                                        <label class="check-label02" for="check01">
                                            <span class="">同意する</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-block-btnwrap">
                                <span class="modal-block-firstbtn js-close btn outline-btn radius-btn">閉じる</span>
                                <button id="submit" class="modal-block-lastbtn btn black-btn radius-btn" type="submit">決定</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<%- include('../includes/_footer'); %>
