<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'delivery-status';
_%>
<%- include('../includes/_header') %>

<div class="breadcrumb">
    <a href="">トップ</a> &gt; <a href="">マイページ</a> &gt; エディオンカード会員登録申込み
</div>

<main id="main-content" class="main-content">
    <div id="deliverystatus" class="container container-account-info">

        <%- include('../includes/_sidebar-account-info'); %>

        <div class="container-right">
            <h2 class="section-heading">配送状況照会</h2>
            <!-- 01 -->
            <div class="deliverystatus-wrap wrap01">
                <div class="deliverystatus-item">
                    <div class="deliverystatus-itemhead">
                        <div class="deliverystatus-date">
                            購入日：2020/04/30
                        </div>
                        <div class="deliverystatus-managenum">
                            <ul class="deliverystatus-managenumlist">
                                <li class="deliverystatus-managenumitem ordernum">注文番号：XXXXXXXXX</li>
                                <li class="deliverystatus-managenumitem slipnum">伝票番号：XXXXXXXXX</li>
                            </ul>

                        </div>
                    </div>

                    <div class="deliverystatus-itembody">
                        <div class="deliveryinfo info">
                            <h3 class="deliveryinfo-ttl info-ttl">配送情報</h3>
                            <div class="deliveryinfo-table info-table">
                                <table>
                                    <tr class="deliveryinfo-tableflow">
                                        <th rowspan="2">配送</th>
                                        <td>
                                            <div class="tableflow-ttl">
                                                エディオンがお届けします。
                                            </div>
                                            <div class="tableflow-flow">
                                                <span class="add-rightarrow add-checkbox on">入荷未定</span>
                                                <span class="add-rightarrow add-checkbox on">入荷予定日確定</span>
                                                <span class="add-rightarrow add-checkbox on multirow">配達/工事予定日<span class="add-indent">（yyy/mm/dd）</span></span>
                                                <span class="add-rightarrow add-checkbox on">配達中</span>
                                                <span class="add-rightarrow add-checkbox off">配達完了</span>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr class="deliveryinfo-tableshipment"><td>近畿の倉庫を出荷しました。</td></tr>
                                    <tr class="deliveryinfo-tabledate"><th>配送予定日時</th><td>2022/MM/DD  14時〜18時</td></tr>
                                </table>
                            </div>
                        </div>
                        <div class="sendinfo info">
                            <h3 class="sendinfo-ttl info-ttl">お届先情報</h3>
                            <div class="sendinfo-table info-table">
                                <table>
                                    <tr class="sendinfo-tablename"><th>お名前</th><td>山田 太郎</td></tr>
                                    <tr class="sendinfo-tableaddress"><th>お届け先</th><td>〒150-0001  東京都◯◯◯◯◯◯◯◯</td></tr>
                                    <tr class="sendinfo-tabletel"><th>電話番号</th><td>080-XXXX-XXXX</td></tr>
                                </table>
                            </div>
                        </div>
                        <div class="shopinfo info">
                            <h3 class="shopinfo-ttl info-ttl">ご購入店舗情報</h3>
                            <ul class="shopinfo-list">
                                <li class="shopinfo-item">エディオンネットショップ</li>
                                <li class="shopinfo-item">お問い合わせ：0570-200-457（ナビダイヤル 有料）</li>
                                <li class="shopinfo-item">受付時間：平日　午前10時〜午後5時</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 02 -->
            <div class="deliverystatus-wrap wrap02">
                <div class="deliverystatus-item">
                    <div class="deliverystatus-itemhead">
                        <div class="deliverystatus-date">
                            購入日：2020/04/30
                        </div>
                        <div class="deliverystatus-managenum">
                            <ul class="deliverystatus-managenumlist">
                                <li class="deliverystatus-managenumitem ordernum">注文番号：XXXXXXXXX</li>
                                <li class="deliverystatus-managenumitem slipnum">伝票番号：XXXXXXXXX</li>
                            </ul>

                        </div>
                    </div>

                    <div class="deliverystatus-itembody">
                        <div class="deliveryinfo info">
                            <h3 class="deliveryinfo-ttl info-ttl">配送情報</h3>
                            <div class="deliveryinfo-table info-table">
                                <table>
                                    <tr class="deliveryinfo-tableflow">
                                        <th>配送</th>
                                        <td>
                                            <div class="tableflow-ttl">
                                                エディオンがお届けします。
                                            </div>
                                            <div class="tableflow-flow">
                                                <span class="add-rightarrow add-checkbox off multirow">配達/工事予定日<span class="add-indent">（yyy/mm/dd）</span></span>
                                                <span class="add-rightarrow add-checkbox off">配達中</span>
                                                <span class="add-rightarrow add-checkbox off">配達完了</span>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr class="deliveryinfo-tabledate"><th>配送予定日時</th><td>現在、配達予定日は決まっておりません。</td></tr>
                                </table>
                            </div>
                            <div class="deliveryinfo-note">
                                ご不明な点がございましたら購入店舗までお問い合わせください。
                            </div>
                        </div>
                        <div class="sendinfo info">
                            <h3 class="sendinfo-ttl info-ttl">お届先情報</h3>
                            <div class="sendinfo-table info-table">
                                <table>
                                    <tr class="sendinfo-tablename"><th>お名前</th><td>山田 太郎</td></tr>
                                    <tr class="sendinfo-tableaddress"><th>お届け先</th><td>〒150-0001東京都◯◯◯◯◯◯◯◯◯</td></tr>
                                    <tr class="sendinfo-tabletel"><th>電話番号</th><td>080-XXXX-XXXX</td></tr>
                                </table>
                            </div>
                        </div>
                        <div class="shopinfo info">
                            <h3 class="shopinfo-ttl info-ttl">ご購入店舗情報</h3>
                            <ul class="shopinfo-list">
                                <li class="shopinfo-item">エディオンネットショップ</li>
                                <li class="shopinfo-item">お問い合わせ：0570-200-457（ナビダイヤル 有料）</li>
                                <li class="shopinfo-item">受付時間：平日　午前10時〜午後5時</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 03 -->
            <div class="deliverystatus-wrap wrap03">
                <div class="deliverystatus-item ">
                    <div class="deliverystatus-itemhead">
                        <div class="deliverystatus-date">
                            購入日：2020/04/30
                        </div>
                        <div class="deliverystatus-managenum">
                            <ul class="deliverystatus-managenumlist">
                                <li class="deliverystatus-managenumitem ordernum">注文番号：XXXXXXXXX</li>
                                <li class="deliverystatus-managenumitem slipnum">伝票番号：XXXXXXXXX</li>
                            </ul>

                        </div>
                    </div>

                    <div class="deliverystatus-itembody">
                        <div class="deliveryinfo info">
                            <h3 class="deliveryinfo-ttl info-ttl">配送情報</h3>
                            <div class="deliveryinfo-table info-table">
                                <table>
                                    <tr class="deliveryinfo-tableflow">
                                        <th>配送</th>
                                        <td>
                                            <div class="tableflow-ttl">
                                                クロネコヤマトがお届けします。
                                            </div>
                                            <div class="tableflow-flow">
                                                <span class="add-rightarrow add-checkbox on">手配中</span>
                                                <span class="add-rightarrow add-checkbox on">確保済み</span>
                                                <span class="add-rightarrow add-checkbox on">出荷済み</span>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr class="deliveryinfo-tabledate"><th>配送予定日時</th><td>2022/MM/DD  14時〜18時</td></tr>
                                </table>
                            </div>
                            <div class="deliveryinfo-note">
                                ※交通事情・配送状況により、遅れる場合がございます。<br>
                                ※商品の梱包に万一不具合などがあった場合はお届け日を変更させていただくことがございます。
                            </div>

                            <div class="deliveryinfo-inquery">
                                <div class="deliveryinfo-inqueryitem inqueryttl">
                                    お問い合わせ番号
                                </div>
                                <div class="deliveryinfo-inqueryitem inquerynum">
                                    000000000
                                </div>
                            </div>
                            <div class="deliveryinfo-inqueryyamato">
                                <div class="inqueryyamato-desc">
                                    詳しい配送状況はヤマトお問い合わせページにてご確認いただけます。
                                </div>
                                <div class="inqueryyamato-button">
                                    <a href="#">ヤマトお問合せページ</a>
                                </div>
                            </div>
                        </div>
                        <div class="absenceinfo info">
                            <h3 class="absenceinfo-ttl info-ttl">ご不在・ご住所不明の場合について</h3>
                            <ul class="absenceinfo-list">
                                <li  class="absenceinfo-item">・ご不在時は「ご不在連絡票」を投函します。再配送は直接配送業者へご連絡ください。</li>
                                <li  class="absenceinfo-item">・ご不在時の商品保管期間1週間を経過したご注文は取消しさせていただきます。</li>
                                <li  class="absenceinfo-item">・クレジットカードご利用注文を取消の場合、カード会社締日により代金は一度引き落とされ、後日返金される場合がございます。</li>
                            </ul>
                        </div>
                        <div class="sendinfo info">
                            <h3 class="sendinfo-ttl info-ttl">お届先情報</h3>
                            <div class="sendinfo-table info-table">
                                <table>
                                    <tr class="sendinfo-tablename"><th>お名前</th><td>山田 太郎</td></tr>
                                    <tr class="sendinfo-tableaddress"><th>お届け先</th><td>〒150-0001東京都◯◯◯◯◯◯◯◯</td></tr>
                                    <tr class="sendinfo-tabletel"><th>電話番号</th><td>080-XXXX-XXXX</td></tr>
                                </table>
                            </div>
                        </div>
                        <div class="shopinfo info">
                            <h3 class="shopinfo-ttl info-ttl">ご購入店舗情報</h3>
                            <ul class="shopinfo-list">
                                <li class="shopinfo-item">エディオンネットショップ</li>
                                <li class="shopinfo-item">お問い合わせ：0570-200-457（ナビダイヤル 有料）</li>
                                <li class="shopinfo-item">受付時間：平日　午前10時〜午後5時</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 04 -->
            <div class="deliverystatus-wrap wrap04">
                <div class="deliverystatus-item">
                    <div class="deliverystatus-itemhead">
                        <div class="deliverystatus-date">
                            購入日：2020/04/30
                        </div>
                        <div class="deliverystatus-managenum">
                            <ul class="deliverystatus-managenumlist">
                                <li class="deliverystatus-managenumitem ordernum">注文番号：XXXXXXXXX</li>
                                <li class="deliverystatus-managenumitem slipnum">伝票番号：XXXXXXXXX</li>
                            </ul>

                        </div>
                    </div>

                    <div class="deliverystatus-itembody">
                        <div class="deliveryinfo info">
                            <h3 class="deliveryinfo-ttl info-ttl">配送情報</h3>
                            <div class="deliveryinfo-table info-table">
                                <table>
                                    <tr class="deliveryinfo-tableflow">
                                        <th>配送</th>
                                        <td>
                                            <div class="tableflow-ttl">
                                                当社指定業者がお届けします。
                                            </div>
                                            <div class="tableflow-flow">
                                                <span class="add-rightarrow add-checkbox on">手配中</span>
                                                <span class="add-rightarrow add-checkbox on">確保済み</span>
                                                <span class="add-rightarrow add-checkbox on">出荷済み</span>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr class="deliveryinfo-tabledate"><th>配送予定日時</th><td>20XX/XX/XX 00時〜00時</td></tr>
                                </table>
                            </div>
                            <div class="deliveryinfo-note">
                                ※交通事情・配送状況により、遅れる場合がございます。<br>
                                ※商品の梱包に万一不具合などがあった場合はお届け日を変更させていただくことがございます。
                            </div>
                        </div>
                        <div class="sendinfo info">
                            <h3 class="sendinfo-ttl info-ttl">お届先情報</h3>
                            <div class="sendinfo-table info-table">
                                <table>
                                    <tr class="sendinfo-tablename"><th>お名前</th><td>山田 太郎</td></tr>
                                    <tr class="sendinfo-tableaddress"><th>お届け先</th><td>〒150-0001東京都◯◯◯◯◯◯◯◯</td></tr>
                                    <tr class="sendinfo-tabletel"><th>電話番号</th><td>080-XXXX-XXXX</td></tr>
                                </table>
                            </div>
                        </div>
                        <div class="shopinfo info">
                            <h3 class="shopinfo-ttl info-ttl">ご購入店舗情報</h3>
                            <ul class="shopinfo-list">
                                <li class="shopinfo-item">エディオンネットショップ</li>
                                <li class="shopinfo-item">お問い合わせ：0570-200-457（ナビダイヤル 有料）</li>
                                <li class="shopinfo-item">受付時間：平日　午前10時〜午後5時</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 05 -->
            <div class="deliverystatus-wrap wrap05">
                <div class="deliverystatus-item">
                    <div class="deliverystatus-itemhead">
                        <div class="deliverystatus-date">
                            購入日：2020/04/30
                        </div>
                        <div class="deliverystatus-managenum">
                            <ul class="deliverystatus-managenumlist">
                                <li class="deliverystatus-managenumitem ordernum">注文番号：XXXXXXXXX</li>
                                <li class="deliverystatus-managenumitem slipnum">伝票番号：XXXXXXXXX</li>
                            </ul>

                        </div>
                    </div>

                    <div class="deliverystatus-itembody">
                        <div class="deliveryinfo info">
                            <h3 class="deliveryinfo-ttl info-ttl">配送情報</h3>
                            <div class="deliveryinfo-table info-table">
                                <table>
                                    <tr class="deliveryinfo-tableflow">
                                        <th>配送</th>
                                        <td>
                                            <div class="tableflow-ttl">
                                                メーカー直送品です。
                                            </div>
                                            <div class="tableflow-flow">
                                                <span class="add-rightarrow add-checkbox on">メーカー依頼済み</span>
                                                <span class="add-rightarrow add-checkbox off">出荷準備中</span>
                                                <span class="add-rightarrow add-checkbox off">出荷済み</span>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr class="deliveryinfo-tabledate"><th>配送予定日時</th><td>出荷準備出来次第の出荷となります。</td></tr>
                                </table>
                            </div>
                            <div class="deliveryinfo-inquery">
                                <div class="deliveryinfo-inqueryitem inqueryttl">
                                    お問い合わせ番号
                                </div>
                                <div class="deliveryinfo-inqueryitem inquerynum">
                                    000000000
                                </div>
                            </div>
                        </div>
                        <div class="sendinfo info">
                            <h3 class="sendinfo-ttl info-ttl">お届先情報</h3>
                            <div class="sendinfo-table info-table">
                                <table>
                                    <tr class="sendinfo-tablename"><th>お名前</th><td>山田 太郎</td></tr>
                                    <tr class="sendinfo-tableaddress"><th>お届け先</th><td>〒150-0001  東京都◯◯◯◯◯◯◯◯</td></tr>
                                    <tr class="sendinfo-tabletel"><th>電話番号</th><td>080-XXXX-XXXX</td></tr>
                                </table>
                            </div>
                        </div>
                        <div class="shopinfo info">
                            <h3 class="shopinfo-ttl info-ttl">ご購入店舗情報</h3>
                            <ul class="shopinfo-list">
                                <li class="shopinfo-item">エディオンネットショップ</li>
                                <li class="shopinfo-item">お問い合わせ：0570-200-457（ナビダイヤル 有料）</li>
                                <li class="shopinfo-item">受付時間：平日　午前10時〜午後5時</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sendbtn-wrap">
                <a class="sendbtn-close" href="xxx">戻る</a>
            </div>

        </div>
    </div>
</main>


<%- include('../includes/_footer'); %>
