<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'download';
_%>
<%- include('../includes/_header') %>
<div class="breadcrumb">
    <a href="">トップ</a> &gt; コンテンツダウンロード
</div>
<main id="main-content" class="main-content">

    <div class="container-pc">
        <section>
            <h2 class="section-heading">コンテンツダウンロード</h2>
            <div class="download-content border-top border-bottom">
                <div id="js-topitem" class="topitem d-flex">
                    <div class="topitem-img">
                        <img src="./assets/img//download/item01.png" alt="">
                    </div>
                    <div id="js-topitem-ttl" class="topitem-ttl">
                        <div class="topitem-order">注文番号：1234345667890</div>
                        <div class="topitem-name">メガソフト 3D住宅リフォームデザイナー2 3Dジユウタクリフオ-ムデザイナ-2WD<br class="is-pc">【Win ダウンロード版】</div>
                    </div>
                </div>
                <div id="js-bottomitem" class="bottomitem">
                    <div class="bottomitem-detail">
                        <table>
                            <tr><th>プロダクトキー<br class="is-sp"><span class="is-pc-inline">、</span>シリアルキー等</th><th>説明</th></tr>
                            <tr><td>pin2013041015</td><td>ユーザー</td></tr>
                            <tr><td>pass2013041015</td><td>パスワード</td></tr>
                        </table>
                    </div>
                    <div class="caution">
                        この商品は、「ダウンロード版」商品の為、返品はできません。<br class="is-pc">
                        ご注文前に、対応OSなど「商品仕様」に掲載されている情報を必ずご確認ください。
                    </div>
                    <div class="downloadbtn-wrap">
                        <a class="btn blue-btn radius-btn" href="#">ダウンロード</a>
                    </div>
                </div>
            </div>
            <div class="mypagebtn-wrap">
                <a class="btn outline-btn radius-btn" href="#">マイページへ</a>
            </div>
        </section>
    </div>
</main>


<%- include('../includes/_footer'); %>
<script type="text/javascript">
</script>
