<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'point-usage';
_%>
<%- include('../includes/_header-nomenu') %>
<main id="main-content" class="main-content">
    <div class="dpoint">
        <div class="dpoint-ttl">
            <h4>dポイント利用手続き</h4>
        </div>
        <div class="btn-group">
            <a href="" class="btn red-btn2 radius-btn" >dポイント利用手続きを行う</a>
            <a href="" class="btn grey-btn2 account-btn medium">戻る</a>
        </div>
        <ul class="dpoint-ft">
            <li>dポイント利用手続きには、dアカウントが必要です。</li>
            <li>dアカウントをお持ちでない方は、dアカウントの新規取得が必要です。</li>
            <li>dポイントが付与される前に、dポイント利用手続きの解除を行った場合、dポイントが貯まりませんので、ご注意ください。</li>
        </ul>
    </div>
</main>
<%- include('../includes/_footer'); %>
