<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'edion-register';
_%>
<%- include('../includes/_header') %>

<div class="breadcrumb">
    <a href="">トップ</a> &gt; <a href="">マイページ</a> &gt; エディオンカード会員登録申込み
</div>

<main id="main-content" class="main-content">
    <div id="edionregister" class="container container-account-info">

        <%- include('../includes/_sidebar-account-info'); %>
        <div class="container-right">
            <h2 class="section-heading">エディオンカードWEB申し込み</h2>
            <div class="advertisement">
                <picture>
                  <source media="(min-width: 768px)" srcset="./assets/img/edion-register/ad-img.png">
                  <img src="./assets/img/edion-register/ad-img.png" alt="alt_text">
                </picture>
            </div>
            <div class="textblock-wrap">
                <div class="textblock">
                    <h3 class="textblock-ttl">長期修理保証について</h3>
                    <ul class="textblock-list">
                        <li class="textblock-item"> ・カードお申込み当日のご購入は、長期修理保証は付与されません。</li>
                        <li class="textblock-item">・お客様の会員情報が「エディオンカード会員様」に変更後のご購入より長期修理保証が付与されます。会員情報は、ログイン後のトップページ右側のお客様情報、またはマイページにてご確認いただけます。</li>
                        <li class="textblock-item">・保証対象商品には、商品詳細ページに「保証特典：長期修理保証○年」と記載がございます。</li>
                        <li class="textblock-item">※詳細は、お買い物ガイド「修理・保証・長期修理保証」をご確認ください。</li>
                    </ul>
                </div>
                <div class="textblock">
                    <h3 class="textblock-ttl">エディオンポイントについて</h3>
                    <ul class="textblock-list">
                        <li class="textblock-item">・カードお申込み当日のご購入にはエディオンポイントは付与されません。</li>
                        <li class="textblock-item">・お客様の会員情報が「エディオンカード会員様」に変更後の購入よりエディオンポイントが付与されます。会員情報は、ログイン後のトップページ右側のお客様情報、またはマイページにてご確認いただけます。</li>
                        <li class="textblock-item">・エディオンポイントの付与対象になるのは、「代金引換」か「銀行振込」でのお支払い</li>
                        <li class="textblock-item">および、お手元にエディオンカードが届いてからの「エディオンカードでのお支払い」でポイントがたまります</li>
                        <li class="textblock-item">※詳細は、お買い物ガイドの「ポイント」をご確認ください。</li>
                    </ul>
                </div>
            </div>


            <form class="form" action="xxx" method="post">
                <div class="scrollblock-wrap">
                    <div class="scrollblock scrollblock01">
                        <h3 class="scrollblock-ttl">エディオンカード会員規約</h3>
                        <div class="scrollblock-desc">
                            <div class="scrollblock-inner">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
                        </div>
                        <div class="scrollblock-labelwrap check-labelwrap">
                            <input type="checkbox" name="check01" value="1" id="check01" >
                            <label class="check-label02" for="check01">
                                <span class="">上記内容に同意する</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="subscriptionblock-wrap">
                    <div class="subscriptionblock blockorico">
                        <h3 class="subscriptionblock-ttl ttl-orico">オリコで申し込む</h3>
                        <div class="subscriptionblock-imgwrap">
                            <img src="./assets/img/edion-register/img_card_orico.png" alt="">
                        </div>
                        <button class="subscriptionblock-link btn black-btn" type="submit" name="button"> お申し込みはこちら</button>
                        <p class="subscriptionblock-desc">【オリコ　エディオンカード入会特典】</p>
                    </div>
                    <div class="subscriptionblock">
                        <h3 class="subscriptionblock-ttl ttl-smbc"> SMBCファイナンスサービスで申し込む</h3>
                        <div class="subscriptionblock-imgwrap">
                            <img src="./assets/img/edion-register/img_card_cedyna.png" alt="">
                        </div>
                        <button class="subscriptionblock-link btn black-btn" type="submit" name="button"> お申し込みはこちら</button>
                        <p class="subscriptionblock-desc">【SMBCファイナンスサービス<br class="is-sp">エディオンカード入会特典】</p>
                    </div>

                </div>

            </form>
        </div>
    </div>
</main>


<%- include('../includes/_footer'); %>
