<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'favorite-list';
_%>
<%- include('../includes/_header') %>
<main id="main-content" class="main-content">
    
    <a href="javascript:void(0);" class="js-modal btn black-btn large-btn" modal-id="favorite-list-price">希望価格を入力する</a>
    
    <div id="favorite-list-price" class="modal-block fixed-margin sp-maxheight favorite-list-modal price">
        <div class="modal-block-inner">
            <span class="close-btn js-close"></span>
            <div class="modal-block-inner-head">
                <h5 class="modal-block-inner-head-heading">希望価格を入力する</h5>
                <div class="modal-block-inner-head-lead">希望価格以下に価格が下がると、通知メールが<br class="is-sp">配信されます。</div>
            </div>
            
            <div class="modal-block-inner-body">
                <div class="form-block general">
                    <label for="">希望価格</label>
                    <div class="price-form">
                        <input type="text">円以下で通知
                    </div>
                </div>
            </div>
    
            <div class="modal-block-inner-foot">
                <div class="modal-block-inner-foot-btninline">
                    <a href="" class="btn lined-black account-btn">キャンセル</a>
                    <a href="" class="btn blue-btn account-btn">確定</a>
                </div>
            </div>
        </div>
    </div>

</main>
<%- include('../includes/_footer'); %>
