<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'fc';
_%>
<%- include('../includes/_header-fc-login') %>

<main id="main-content" class="main-content">
	
    <section class="fc-top">
        <div class="inner inner-large">
        
            <h2 class="section-heading">すべてのカテゴリー</h2>
            
            <div class="basicgrid basicgrid-six category-list-all">
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>エアコン・空気清浄機<br class="is-pc">除湿機・加湿器</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>ゲーム</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>洗剤・キッチン・日用品</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>暖房・扇風機・照明</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>ブルーレイ・DVD・CDソフト</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>化粧品・ヘアケア<br class="is-pc">ボディケア</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>テレビ・レコーダー</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>防災・防犯・ドアホン・金庫</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>ヘルスケア・医療品</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>冷蔵庫・洗濯機<br class="is-pc">家事・掃除機</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>SIMフリー（スマホ・タブレット）</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>焙煎珈琲・食品・飲料</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>電子レンジ・炊飯器・調理</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>スマホアクセサリー</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>ペット用品・DIY・工具<br class="is-pc">ガーデニング</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>理美容・健康・シャワートイレ<br class="is-pc">シャワーヘッド</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>ロボット</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>家具・寝具</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>オーディオ・ヘッドホン・楽器</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>インク・データ用メディア<br class="is-pc">用紙他</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>トラベル用品・アウトドア<br class="is-pc">スポーツ</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>パソコン・タブレット<br class="is-pc">周辺機器</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>電池・電球・録画用メディア<br class="is-pc">配線パーツ</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>くすり</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>カメラ・GoPro・レンズ<br class="is-pc">SDメモリー</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>時計・タイマー・温湿度計</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>お酒</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>電子辞書・翻訳機・FAX<br class="is-pc">事務用品</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>ドラレコ・カー用品</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>玩具・ベビーキッズ</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="./assets/img/category/_dummy_img01.jpg" alt="">
                        <h3>文房具・オフィス用品</h3>
                    </a>
                </div>
            </div>
        </div>
    </section>
    

    <%- include('../includes/_history', { maxitem: 'eight', page: 'fc' }); %>
    
</main>


<%- include('../includes/_footer-fc'); %>
