<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'inquiry';
_%>
<%- include('../includes/_header-nomenu') %>
<main id="main-content" class="main-content">
    
    
    <section class="inquiry-confirm">
        <div class="inner inner-small">
            <h1 class="page-title">エディオンネットショップ・アプリ<br class="is-sp">に関するお問い合わせ</h1>
            
            <div class="register-step inquiry">
                <ul>
                    <li>お客様情報入力</li>
                    <li class="current">登録情報確認</li>
                    <li>ご登録完了</li>
                </ul>
            </div>
            
            <div class="page-title-lead">
                以下の内容でよろしければ「送信する」を<br class="is-sp">クリックしてください。
            </div>
            
            <div class="linebox linebox-blue">
                
                <div class="inquiry-form-heading">お客様情報</div>
                <dl class="inquiry-confirm-block">
                    <dt>お名前</dt>
                    <dd>山田 太郎</dd>
                    <dt>フリガナ</dt>
                    <dd>ヤマダ タロウ</dd>
                </dl>
            
                <div class="inquiry-form-heading">メールアドレス</div>
                <dl class="inquiry-confirm-block">
                    <dt>メールアドレス／ログインID</dt>
                    <dd>email.test@sample.com</dd>
                </dl>
            
                <div class="inquiry-form-heading">電話番号</div>
                <dl class="inquiry-confirm-block">
                    <dt>電話番号１</dt>
                    <dd>携帯電話：08012345678</dd>
                    <dt>電話番号２</dt>
                    <dd>携帯電話：08012345678</dd>
                </dl>
                
                <div class="inquiry-form-heading">お問い合わせ情報</div>
                <dl class="inquiry-confirm-block">
                    <dt>お問い合わせの種類</dt>
                    <dd>◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯</dd>
                    <dt>注文番号</dt>
                    <dd>000000000000</dd>
                    <dt>お問い合わせ内容</dt>
                    <dd>◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯</dd>
                </dl>
                
            </div>
            
            <div class="inquiry-confirm-btns">
                <a href="" class="btn red-btn2 account-btn">送信する</a>
                <a href="" class="btn lined-blue medium-height account-btn medium2">修正する</a>
                <a href="" class="btn grey-btn2 account-btn medium">登録中止</a>
            </div>

            
        </div>
    </section>
    
    

    
</main>
<%- include('../includes/_footer'); %>
