<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'linking-register';
_%>
<%- include('../includes/_header') %>
<main id="main-content" class="main-content">

    <div id="linkingregister-confirm">
        <form class="form-block" action="xxx" method="post">
            <div class="container-sm">
                <div class="flow-wrap">
                    <div class="flow-list">
                        <div class="flow-item">
                            <div class="flow-itemicon">
                                <img src="./assets/img/linking-register/icon-input-on.png" alt="カード番号入力">
                            </div>
                            <div class="flow-itemtext">
                                カード番号入力
                            </div>
                        </div>
                        <div class="flow-item">
                            <div class="flow-itemicon">
                                <img src="./assets/img/linking-register/icon-confirm-on.png" alt="カード番号確認">
                            </div>
                            <div class="flow-itemtext">
                                カード番号確認
                            </div>
                        </div>
                        <div class="flow-item off complete">
                            <div class="flow-itemicon">
                                <img src="./assets/img/linking-register/icon-complete-off.png" alt="完了">
                            </div>
                            <div class="flow-itemtext">
                                完了
                            </div>
                        </div>
                    </div>
                </div>

                <div class="registerdesc">
                    <h3 class="registerdesc-ttl">会員カード番号確認</h3>
                    <p class="registerdesc-desc">ご入力いただいたカードナンバーをご確認の上、<br class="is-pc">こちらでよろしければ「登録する」ボタンをクリックしてください。</p>
                </div>

                <div class="cardnum">
                    <div class="cardnum-item">お持ちのカードナンバーを入力</div>
                    <div class="cardnum-number">ee1234567890</div>
                </div>

                <div class="sendbtn-wrap">
                    <button class="sendbtn-send btn" type="submit" name="button">登録する</button>
                    <a class="sendbtn-close" href="xxx">戻る</a>
                </div>
            </div>
        </form>
    </div>
</main>


<%- include('../includes/_footer'); %>
