<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'linking-register';
_%>
<%- include('../includes/_header') %>
<main id="main-content" class="main-content">

    <div id="linkingregister">
        <form class="form-block" action="xxx" method="post">
            <div class="container-sm">

                <div class="flow-wrap">
                    <div class="flow-list">
                        <div class="flow-item">
                            <div class="flow-itemicon">
                                <img src="./assets/img/linking-register/icon-input-on.png" alt="カード番号入力">
                            </div>
                            <div class="flow-itemtext">
                                カード番号入力
                            </div>
                        </div>
                        <div class="flow-item off">
                            <div class="flow-itemicon">
                                <img src="./assets/img/linking-register/icon-confirm-off.png" alt="カード番号確認">
                            </div>
                            <div class="flow-itemtext">
                                カード番号確認
                            </div>
                        </div>
                        <div class="flow-item off complete">
                            <div class="flow-itemicon">
                                <img src="./assets/img/linking-register/icon-complete-off.png" alt="完了">
                            </div>
                            <div class="flow-itemtext">
                                完了
                            </div>
                        </div>
                    </div>
                </div>


                <div class="registerdesc">
                    <h3 class="registerdesc-ttl">会員カード登録</h3>
                    <p class="registerdesc-desc">お持ちのカードをご登録いただくと、ポイント特典・長期修理保証サービスが<br class="is-pc">
                        店舗でも本サイトでもご利用いただけます。<br>
                        本会員様に登録されている家族会員様につきましても、<br class="is-pc">
                        お客様番号を登録する事で店舗でも本サイトでも会員特典が受けられます。</p>
                </div>
            </div>


            <!-- 900px -->
            <div class="container-md">
                <div class="kindofcard">
                    <div class="kindofcard-item">
                        <div class="kindofcard-img">
                            <img src="./assets/img/linking-register/img-card01.png" alt="エディオンカード">
                        </div>
                        <p class="kindofcard-desc">カード表面左下12桁の<br class="is-sp">「eeナンバー」です。</p>
                        <h3 class="kindofcard-ttl">エディオンカード</h3>
                    </div>
                    <div class="kindofcard-item">
                        <div class="kindofcard-img">
                            <img src="./assets/img/linking-register/img-card02.png" alt="配偶者カード">
                        </div>
                        <p class="kindofcard-desc">カード表面左下12桁の<br class="is-sp">「eeナンバー」です。</p>
                        <h3 class="kindofcard-ttl">配偶者カード</h3>
                    </div>
                    <div class="kindofcard-item">
                        <div class="kindofcard-img">
                            <img src="./assets/img/linking-register/img-card03.png" alt="100満ボルトカード">
                        </div>
                        <p class="kindofcard-desc">カード表面左下12桁の<br class="is-sp">「eeナンバー」です。</p>
                        <h3 class="kindofcard-ttl">100満ボルトカード</h3>
                    </div>
                    <div class="kindofcard-item">
                        <div class="kindofcard-img">
                            <img src="./assets/img/linking-register/img-card04.png" alt="あんしん保証カード">
                        </div>
                        <p class="kindofcard-desc">カード裏面下12桁の<br class="is-sp">英数字です。</p>
                        <h3 class="kindofcard-ttl">あんしん保証カード</h3>
                    </div>
                    <div class="kindofcard-item">
                        <div class="kindofcard-img">
                            <img src="./assets/img/linking-register/img-card05.png" alt="100満ボルト あんしん保証カード">
                        </div>
                        <p class="kindofcard-desc">カード裏面下12桁の<br class="is-sp">英数字です。</p>
                        <h3 class="kindofcard-ttl">100満ボルト <br class="is-sp">あんしん保証カード</h3>
                    </div>
                    <div class="kindofcard-item">
                        <div class="kindofcard-img">
                            <img src="./assets/img/linking-register/img-card06.png" alt="IDカード">
                        </div>
                        <p class="kindofcard-desc">カード表面左下12桁の<br class="is-sp">英数字です</p>
                        <h3 class="kindofcard-ttl">IDカード</h3>
                    </div>
                </div>

                <div class="familyaccount">
                    <h3 class="familyaccount-ttl">家族会員</h3>
                    <p class="familyaccount-desc">家族会員様のお客様番号は、本会員様がマイページの「家族会員登録」画面を照会していただく事で確認できます。</p>

                    <ul class="familyaccount-list">
                        <li class="familyaccount-item">※家族会員様のご登録はエディオンカード・100満ボルトカード・IDカードの本会員様のみ可能です。</li>
                        <li class="familyaccount-item">※家族会員登録できるのはエディオンカード・100満ボルトカード・IDカードの本会員様と同居されているご家族様のみとなります。</li>
                    </ul>
                </div>
            </div>

            <!-- 700px -->
            <div class="container-sm">
                <!-- テーブル -->
                <div class="tableblock accountinfo">
                    <h3 class="tableblock-ttl">ご登録情報</h3>
                    <div class="tableblock-table">
                        <table>
                            <tr><th>住所</th><td>東京都◯◯◯◯◯◯◯◯</td></tr>
                            <tr><th>電話番号1</th><td>ご自宅：03-XXXX-XXXX</td></tr>
                            <tr><th>電話番号2</th><td>携帯電話：080-XXXX-XXXX</td></tr>
                        </table>
                    </div>
                </div>

                <div class="ownercard">
                    <div class="ownercard-text">
                        <p class="ownercard-desc">お持ちのカードのお客様番号<br class="is-pc">
                            (eeナンバー)を入力</p>
                    </div>
                    <div class="ownercard-form">
                        <div class="ownercard-formitem selectwrap01">
                            <select class="item-first" name="select01">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                            <span class="ownercard-note block01">先頭の<br class="is-sp">アルファベットを選択</span>
                        </div>
                        <div class="ownercard-formitem selectwrap01">
                            <select class="item-first" name="select02">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                            <span class="ownercard-note block02">アルファベット<br> もしくは数字を<br class="is-sp">選択</span>
                        </div>
                        <div class="ownercard-formitem inputwrap01">
                            <input class="item-first" type="text" name="input01" value="">
                            <span class="ownercard-note block03">残りの数字、10桁を入力</span>
                        </div>
                    </div>
                </div>

                <div class="agree">
                    <div class="agree-text">
                        <div class="agree-textitem">
                            <h3 class="agree-ttl">＜お客様番号の入力について＞</h3>
                            <p class="agree-desc">カード番号の入力について</p>
                        </div>
                        <div class="agree-textitem">
                            <h3 class="agree-ttl">＜ご登録するカードのお客様番号について＞</h3>
                            <p class="agree-desc">ご登録することが出来るカードのお客様番号は、本サイト・アプリにご登録の会員様名義のカードに限ります。</p>
                        </div>
                        <div class="agree-textitem">
                            <h3 class="agree-ttl">＜ご登録のご住所・お電話番号について＞</h3>
                            <p class="agree-desc">お持ちのカードのお客様番号をご登録いただいた後は、ネットショップにご登録いただいたご住所・お電話番号は、弊社カードにご登録のご住所・お電話番号に更新されます。マイページにて、ご確認をお願いいたします。<br>
                            ご確認後、現在お住まいのご住所・お電話番号と内容が異なる場合は、大変お手数ですが、マイページのご登録情報「登録情報を変更する」にてご変更いただきますようにお願いいたします。<br>
                            「同意する」にチェックを入れて「次へ」ボタンをクリックしてください。</p>
                        </div>
                    </div>
                    <div class="agree-input">
                        <input type="checkbox" name="check01" value="1" id="check01" >
                        <label class="check-label02" for="check01">
                            <span class="">同意する</span>
                        </label>
                    </div>
                </div>
                <div class="sendbtn-wrap">
                    <button class="sendbtn-send btn" type="submit" name="button">次へ</button>
                    <a class="sendbtn-close" href="xxx">戻る</a>
                </div>
            </div>
        </form>
    </div>
</main>


<%- include('../includes/_footer'); %>
