<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = true; // 下層ページは全てfalseにする
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'news';
_%>
    <%- include('../includes/_header') %>
        <div class="breadcrumb">
            <a href="">トップ</a> &gt; <a href="">カテゴリー名</a> &gt; 3年以上ご購入されていない「あんしん保証会員様の会員喪失」について
        </div>
        <main id="main-content" class="main-content">
            <div class="container-sm">
                <div class="newsdetail">
                    <div class="newsdetail-tit">
                        <p class="date">2021.12.20</p>
                        <p class="cat-imp">重要</p>
                        <p class="cat-other">セール</p>
                        <p class="tit">3年以上ご購入されていない「あんしん保証会員様の会員資格喪失」について</p>
                    </div>
                    <div class="newsdetail-cont">
                        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </div>
                    <div class="newsdetail-btn">
                        <a class="btn outline-btn radius-btn" href="#">お知らせ一覧へ</a>
                        <a class="btn blue-btn radius-btn" href="#">次のニュースへ</a>
                    </div>
                </div>
            </div>
            <div class="container-sm">
                <%- include('../includes/_history', { maxitem: 'six' }); %>
            </div>
        </main>
        <%- include('../includes/_footer'); %>