<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'password-setting';
_%>
<%- include('../includes/_header-nomenu') %>
<main id="main-content" class="main-content">
    
    <section class="password-setting password-setting04">
        <div class="inner inner-small">
            <h1 class="page-title">パスワード再設定</h1>
            <div class="page-title-lead">パスワードを再設定してください。</div>
                        
            <div class="linebox linebox-blue">
                
                <form action="">
                    <div class="form-block general">
                        <label>新しいパスワード<span class="small-font">（半角英数字8文字以上12文字まで）</span></label>
                        <input type="text" placeholder="password0123">
                        
                        <div class="password-setting04-text01">
                            ・パスワードは他人に推測されないよう十分に注意してご設定ください。<br>
                            ・英字のみ、数字のみのパスワードは設定できません。<br>
                            ・IDと同じパスワードは設定できません。
                        </div>
                        
                        <label>パスワード再入力</label>
                        <input type="text">
                    </div>
                    
                    <div class="form-block form-block-check general show_passwd">
                        <input type="checkbox" id="show_passwd">
                        <label for="show_passwd"><small>パスワードの文字を表示する</small></label>
                    </div>
                    
                    <a href="" class="btn red-btn2 account-btn">確定</a>
                
                </form>
            </div>
        </div>
    </section>
    
</main>
<%- include('../includes/_footer'); %>
