<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'password-setting';
_%>
<%- include('../includes/_header-nomenu') %>
<main id="main-content" class="main-content">
    
    <section class="password-setting password-setting01 primary">
        <div class="inner inner-small">
            <h1 class="page-title">パスワードをお忘れの方</h1>
            <div class="page-title-lead">会員登録時に登録したお名前・メールアドレスを<br class="is-sp">入力してください。<br>
                SMSもしくは音声にて変更に必要な4桁の確認コードを送信いたします。<br>
                認証電話番号設定されていない場合は、<br>
                新しいパスワードを再設定できるメールをお送りします。
            </div>
                        
            <div class="linebox linebox-blue">
                
                <form action="">
                    <div class="form-block general">
                        <label>お名前フリガナ<span class="small-font">（全角カタカナ）</span></label>
                        <div class="form-block-name">
                            <div class="familyname-kana"><input type="text" placeholder="ヤマダ"></div>
                            <div class="firstname-kana"><input type="text" placeholder="タロウ"></div>
                        </div>

                        <label>メールアドレス / ログインID<span class="small-font">（半角）</span></label>
                        <input type="email" placeholder="email.test@sample.com">
                        
                    </div>
                    
                   
                    <a href="" class="btn red-btn2 account-btn">次へ</a>
                
                </form>
            </div>
        </div>
    </section>
    
    <section class="password-setting password-setting01 secondary">
        <div class="inner inner-small">
                        
            <div class="linebox linebox-blue">
                <div class="head">「エディオンネットショップ」の<br class="is-sp">ログインID<span>（メールアドレス）</span>をお忘れのお客様</div>
                
                <p class="password-setting01-text01">エディオンネットショップのアカウントに登録されているログインID（メールアドレス）をお忘れの方、もしくは使用されていない場合は、お問い合わせ窓口にご連絡ください。</p>

                <a href="" class="btn blue-btn account-btn contact-btn"><span class="icon"></span>お問い合わせ</a>
            </div>
        </div>
    </section>
    
    <a href="" class="btn grey-btn2 account-btn medium">戻る</a>
    
</main>
<%- include('../includes/_footer'); %>
