<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'register';
_%>
<%- include('../includes/_header-nomenu') %>
<main id="main-content" class="main-content">
    
    
    <section class="register register-confirm">
        <div class="inner inner-small">
            <div class="register-step-num is-sp">STEP 4/5</div>
            <h1 class="page-title">登録情報確認</h1>
            
            <div class="register-step s04">
                <ul>
                    <li>新規ご利用登録</li>
                    <li>認証コード入力</li>
                    <li>お客様情報入力</li>
                    <li class="current">登録情報確認</li>
                    <li>登録完了</li>
                </ul>
            </div>
            
            <div class="page-title-lead">
                この内容でよろしければ<br class="is-sp">「確定」をクリックしてください。
            </div>
            
            
            <div class="linebox linebox-blue">
                
                <div class="register-heading">会員情報</div>
                <dl class="register-confirm-block">
                    <dt>メールアドレス／ログインID</dt>
                    <dd>email.test@sample.com</dd>
                    <dt>パスワード</dt>
                    <dd>***********</dd>
                </dl>
                
                
                <div class="register-heading">お客様情報</div>
                <dl class="register-confirm-block">
                    <dt>お名前</dt>
                    <dd>山田 太郎</dd>
                    <dt>フリガナ</dt>
                    <dd>ヤマダ タロウ</dd>
                    <dt>生年月日</dt>
                    <dd>1988年 03月 06日</dd>
                    <dt>性別</dt>
                    <dd>ー</dd>
                </dl>

                <div class="register-heading">ご住所</div>
                <dl class="register-confirm-block">
                    <dt>郵便番号</dt>
                    <dd>000-0000</dd>
                    <dt>都道府県</dt>
                    <dd>東京都</dd>
                    <dt>市区町村</dt>
                    <dd>◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯</dd>
                    <dt>番地</dt>
                    <dd>◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯</dd>
                    <dt>建物名・部屋番号</dt>
                    <dd>◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯</dd>
                </dl>

                <div class="register-heading">電話番号</div>
                <dl class="register-confirm-block">
                    <dt>電話番号１</dt>
                    <dd>携帯電話：08012345678</dd>
                    <dt>電話番号２</dt>
                    <dd>携帯電話：08012345678</dd>
                </dl>
                
                <div class="register-heading">メールマガジン</div>
                <dl class="register-confirm-block">
                    <dt>店舗情報メールマガジン</dt>
                    <dd>希望する</dd>
                    <dt>ネットショップ「家電製品」情報メールマガジン</dt>
                    <dd>希望しない</dd>
                    <dt>ネットショップ「おもちゃ・ゲーム」情報メールマガジン</dt>
                    <dd>希望しない</dd>
                </dl>

                <!-- ##########
                公開時点では非表示
                ########## -->
                <!-- <div class="register-heading">ポイント移行</div>
                <dl class="register-confirm-block point">
                    <dt>伝票番号</dt>
                    <dd>1：0000000000000000000000000000000</dd>
                    <dd>2：0000000000000000000000000000000</dd>
                </dl> -->
                    
                    
                    
            </div>
            
        </div>
        
        <div class="register-confirm-btns">
            <a href="" class="btn red-btn2 account-btn">確定</a>
            <a href="" class="btn lined-blue medium-height account-btn medium2">修正する</a>
            <a href="" class="btn grey-btn2 account-btn medium">登録中止</a>
        </div>

    </section>
    
    
    
    

    
</main>
<%- include('../includes/_footer'); %>
