<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'review';
_%>
<%- include('../includes/_header') %>
<main id="main-content" class="main-content">
    
    <a href="javascript:void(0);" class="js-modal btn black-btn large-btn" modal-id="review-history-list-modal">Open Modal</a>

    <div id="review-history-list-modal" class="modal-block fixed-margin sp-maxheight review-history-list-modal">
        <div class="modal-block-inner">
            <span class="close-btn js-close"></span>
            <div class="modal-block-inner-head">
                <h5 class="modal-block-inner-head-heading">投稿者レビューリスト設定</h5>
                <div class="modal-block-inner-head-lead">レビューリストを公開するか非公開にするかを<br class="is-sp">選択できます。</div>
            </div>

            <div class="modal-block-inner-foot">
                <div class="modal-block-inner-foot-btninline">
                    <a href="" class="btn lined-black account-btn">非公開</a>
                    <a href="" class="btn blue-btn account-btn">公開</a>
                </div>
            </div>
        </div>
    </div>

</main>
<%- include('../includes/_footer'); %>
