<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'secret-sale';
_%>
<%- include('../includes/_header-login') %>

<div class="breadcrumb">
    <a href="">トップ</a> &gt; <a href="">マイページ</a> &gt; シークレットセール
</div>

<main id="main-content" class="main-content">
    
    <div class="container container-sidebar_show">
        
        <%- include('../includes/_sidebar-account-info'); %>
    
        <div class="container-right">
            <div class="secret-sale">
                <h4 class="secret-sale-tit">シークレットセール</h4>
                <p class="secret-sale-des">
                    会員様だけの特別なお買い得セールです。<br>
                    ご案内のセール期間中に、シークレット番号を入力してご入場ください。<br>
                    セール開始前、終了後に番号をご入力いただきましても、ご入場いただけません。<br><br>

                    シークレットセールの情報はメールマガジンで配信しております。<br><br>

                    ※特別セールにつき各種割引クーポンはご利用対象外となります。
                </p>
                <div class="secret-sale-num mt40">
                    <div class="form-block">
                        <label>シークレット番号入力</label>
                        <input type="number" placeholder="123456">
                    </div>
                    <button class="btn blue-btn radius-btn">入場</button>
                </div>
            </div>
        </div>
    
    </div>
</main>



<%- include('../includes/_footer'); %>
