<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'stock';
_%>
<%- include('../includes/_header') %>
<main id="main-content" class="main-content">
    
    <a href="javascript:void(0);" class="js-modal btn black-btn large-btn" modal-id="stock-help-modal">Open Modal</a>
    
    <div id="stock-help-modal" class="modal-block wide" style="display:block">
        <div class="modal-block-inner">
            <span class="close-btn js-close"></span>
            <div class="modal-block-inner-content">
                <h5 class="modal-block-inner-content-heading">店舗在庫確認</h5>
                <strong>■商品確保メールについて</strong><br>
                <p>・商品のご用意ができましたら「商品確保メール」にてご連絡いたします。※商品確保メール到着後10日以内にご来店いただきお受け取りください。10日を過ぎますとご注文をキャンセルさせていただきます。<br>
                ・「商品確保メール」は、ご注文の商品がすべて揃い次第のご連絡となります。<br>
                ・「在庫あり」商品のご注文でも店舗営業時間外や繁忙期などは、ご連絡が翌日以降となる場合がございます。<br>
                ・ご注文のタイミングによりましては「在庫あり」でも、お取り寄せとなる場合がございます。</p>
                <br>
                <strong>■店舗受取り注文のお支払いについて</strong>
                <p>・店舗受取時に店頭にてお支払いいただきます。※決済方法によりましては、ポイント進呈対象外となります。詳しくはお支払い前に店舗スタッフまでご確認下さい。<br>
                ・店舗受取の場合、Tポイント/ｄポイント/楽天ポイントのご利用ができません。<br>
                ・「株主様ご優待カード・エディオンギフトカード」は有効期限があります。※店舗でのお支払いとなりますので、有効期限内にお支払いができますよう、お早めにご注文をお願いいたします。<br>
                ・エディオンカード無金利対象商品はお受け取り前でも、無金利実施期間内に受取り店舗でお支払いをお済ませください。</p>
                <br>
                <strong>■店舗受取ご利用時の応募型キャンペーンのご注意</strong>
                <p>・店舗受取にて商品をご購入の場合、レシート発行日は店舗受取日となります。<br>
                ・店舗受取日がキャンペーン期間後となりますと、ご応募が無効となりますのでご注意ください。<br>
                ・この他の注意事項がございますので、必ず各キャンペーンのご応募条件を事前にご確認くださいますようお願いします。</p>
                <br>
                <strong>【迷惑メールを避けるために、メール受信に制限をされているお客様へお願い】</strong><br>
                <p>メール受信に制限をされている場合、弊社よりお送りする「商品確保メール」などのご注文メールをお届けすることが出来ない場合がございます。<br>
                恐れ入りますが、ドメイン指定受信を設定されている場合は、「edion.com」のドメインからのメールを許可してください。<br>
                アドレス指定受信を設定されている場合は、「info@edion.com」と「shop@edion.com」のアドレスからのメールを許可してください。</p>
                
            </div>
            
        </div>
    </div>

</main>
<%- include('../includes/_footer'); %>
