<!-- meta情報は右クリック→ページのソースを表示で出てくるため、各ページに合わせて設定する -->
<%_
  TITLE = '家電と暮らしのエディオン -公式通販サイト';
  IS_INDEX = false;
  DESCRIPTION = '家電と暮らしのエディオン公式通販サイト。安心価格で家電から日用品,食品,雑貨まで幅広い商品を豊富に取り揃え。さらに全国1,200店舗以上の家電ネットワークで購入後のアフターサービスも安心です！';
  KEYWORDS = 'EDION,edion,エディオン,通販,家電量販店,家電,エアコン,生活家電,デジタルカメラ,パソコン,AV機器,美容,健康,ゲーム,おもちゃ,時計,オフィス用品,カー用品,自転車,スポーツ,雑貨,食品,酒';
  ORIGINALCSS = 'point-usage';
_%>
<%- include('../includes/_header-nomenu') %>
<main id="main-content" class="main-content">

    <div class="tpoint">
        <div class="tpoint-ttl">
            <h4>Tポイント利用手続き</h4>
            <p>エディオンネットショップでTポイントを貯める、利用するには「Tポイント利用手続き」が必要です。「Tポイント利用手続きに関する同意事項」に同意して、エディオン会員でのログインもしくは新規登録手続きを行ってください。</p>
        </div>
        <div class="tpoint-ctn">
            <h5>Tポイント利用手続きに関する同意事項</h5>
            <div class="tpoint-ctn-detail">
                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            </div>
            <div class="tpoint-ctn-ft">
                <div class="form-block-check">
                    <input type="checkbox" id="compar0_1">
                    <label for="compar0_1">上記内容に同意する</label>
                </div>
            </div>
            
        </div>
        <div class="btn-group">
            <a href="" class="btn red-btn2 radius-btn" >Tポイント利用手続きを行う</a>
            <a href="" class="btn grey-btn2 account-btn medium">戻る</a>
        </div>
        <ul class="tpoint-ft">
            <li>Tポイント利用手続きには、Yahoo! JAPAN IDが必要です。</li>
            <li>Yahoo! JAPAN IDをお持ちでない方は、Yahoo! JAPAN IDの新規取得が必要です。</li>
            <li>Tポイントが付与される前に、Tポイント利用手続きの解除を行った場合、Tポイントは貯まりませんので、ご注意ください。</li>
        </ul>
    </div>
</main>
<%- include('../includes/_footer'); %>
