@import '../config';
@import '../mixins/media';
@import '../mixins/others';

.login{
    &-primary{
        padding-bottom: 80px;
        @include media-sp {
            padding-bottom: 56px;
            border: none;
        }
        .show_passwd{
            margin: -8px 0 32px;
        }
        .stay_login{
            text-align: center;
            margin: 24px 0 40px;
        }
    }
    &-secondary{
        p{
            text-align: center;
            margin: 0 0 38px;
            line-height: 2;
            @include media-sp {
                font-size: 11px;
                margin: 0 0 32px;
            }
        }
    }
}