@import '../config';
@import '../mixins/media';

.password-setting{
    .page-title{
        margin-bottom: 24px;
    }
    &01{
        &.primary{
            padding-bottom: 80px;
            @include media-sp {
                border: none;
                padding-bottom: 56px;
            }
        }
        &.secondary{
            padding-bottom: 80px;
            @include media-sp {
                border: none;padding-bottom: 56px;
            }
        }
        .form-block-name{
            margin-bottom: 8px;
            @include media-sp {
                margin-bottom: 32px;
            }
        }
        input[type="email"]{
            margin-bottom: 40px !important;
            @include media-sp {
                margin-bottom: 32px !important;
            }
        }
        .linebox{
            .head{
                font-size: 14px;
                letter-spacing: 0;
                line-height: 24px;
                padding: 14px 0;
                @include media-sp {
                    padding: 11px 0;
                }
                span{
                    font-size: 12px;
                    line-height: 24px;
                    vertical-align: baseline;
                }
            }
        }
        &-text01{
            margin-bottom: 32px;
            letter-spacing: 0.1em;
            line-height: 2.2;
        }
    }
    &02{
        padding-bottom: 80px;
        @include media-sp {
            border: none;
            padding-bottom: 48px;
        }
        .tel-number{
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 28px;
            letter-spacing: 0.1em;
            .num{
                margin-top: 24px;
            }
        }
        .orange-btn{
            margin-bottom: 16px;
        }
        &-text01{
            margin-top: 24px;
            font-size: 12px;
            text-align: right;
            @include media-sp {
                text-align: center;
            }
        }
    }
    &03{
        .red-btn2{
            margin-bottom: 16px;
        }
    }
    &04{
        &-text01{
            margin-top: -12px;
            margin-bottom: 32px;
            font-size: 11px;
            line-height: 1.8;
        }
        .show_passwd{
            margin-top: -8px;
            margin-bottom: 40px;
        }
    }
    &05{
        .page-title-lead{
            margin-bottom: 40px;
        }
    }
}