@import '../config';
@import '../mixins/media';
@import '../mixins/others';

/*+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+
シークレットセール（ナンバー入力）
+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+*/
.secret-sale{
    &-tit{
        font-size: 20px;
        font-weight: bold;
        color: $default-color;
        margin-bottom: 8px;
        @include media-sp{
            margin-bottom: 16px;
        }
    }
    &-des{
        font-size: 12px;
        font-weight: 500;
        color: $default-color;
        line-height: 1.5;
        @include media-sp{
            font-weight: bold;
        }
    }
    &-num{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .form-block{
            display: flex;
            align-items: center;
            @include media-sp{
                width: 100%;
                display: block;
                padding: 0 30px;
            }
            label{
                font-size: 14px;
                font-weight: bold;
                color:  $default-color;
                @include media-sp{
                    font-size: 12px;
                }
            }
            input{
                width: 304px;
                height: 48px;
                border-radius: 4px;
                background: #fff;
                border: 1px solid #999;
                margin-left: 40px;
                &::placeholder{
                    font-family: $body-font;
                    font-size: 14px;
                    font-weight: 500;
                    color: #ccc;
                    letter-spacing: 0.1em;
                }
                @include media-sp{
                    width: 100%;
                    margin-left: 0;
                    margin-top: 12.5px;
                }
            }
        }
        .btn{
            width: 80px;
            height: 32px;
            font-size: 13px;
            font-weight: bold;
            margin-left: 16px;
            @include media-sp{
                width: 100%;
                margin-left: 0;
                margin-top: 40.5px;
                height: 48px;
            }
        }
    }
}