@import '../config';
@import '../mixins/media';
@import '../mixins/others';
@import 'account';
@import 'addressee';
@import 'register';
@import 'shippinginfo-register';

.shippinginfo-edit{
    padding-bottom: 8px;
    @include media-sp {
        padding-bottom: 16px;
    }
    &-block{
        &-text{
            font-size: 14px;
            padding: 6px 0 3px;
            line-height: 1.5;
            @include media-sp {
                padding: 5px 0 0;
                line-height: 1.7; 
            }
        }
    }
    &-bottom{
        margin-bottom: 64px;
        @include media-sp {
            margin-bottom: 48px;
        }
        .addressee-box{
            margin-bottom: 16px;
            @include media-is-pc {
                text-align: center;
            }
        }
    }
}

