/* カラー */
$default-color: #333333;
$accent-color: #e73e42;
$accent-color2: #EA8D3C;
$accent-color3: #0776B1;
$accent-color4: #0CB473;
$site-color: #265390;
$link-hover: #494949;
$grey-color: #e6e6e6;

$bd-color1: $grey-color;
/* フォント */
$body-font: 'Noto Sans JP',"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
