<div id="address-modal" class="modal-block">
	<div class="modal-block-inner">
		<span class="close-btn js-close"></span>
		<h4>商品お届け先設定</h4>
		<div class="modal-block-main">
			<div class="form-block">
				<form>
					<dl>
						<dt><input type="radio" name="address" id="postcode" checked><label for="postcode"><strong>郵便番号で検索</strong><small>郵便番号は3桁以上で住所を検索できます。<br>例：1050004（半角英数）</small></label></dt>
						<dd class="post-input"><span class="post-symbol">〒</span><input type="text" name=""><span class="post-border">ー</span><input type="text" name=""><button class="btn black-btn search-btn">検索</button></dd>
					</dl>
					<dl>
						<dt><input type="radio" name="address" id="local"><label for="local"><strong>市町村名で検索</strong><small>市町村名で住所を検索できます。<br>例：新橋（東京都港区新橋の場合）</small></label></dt>
						<dd class="address-input"><input type="text" name=""><button class="btn black-btn search-btn">検索</button></dd>
					</dl>
				</form>
			</div>
		</div>
		<div class="modal-btm">
			<p class="modal-btm-txt">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
		</div>
	</div>
</div>
<div id="address-modal02" class="modal-block">
	<div class="modal-block-inner">
		<span class="close-btn js-close"></span>
		<h4>商品お届け先設定</h4>
		<div class="modal-block-main">
			<div class="form-block">
				<form>
					<div class="form-block-inner">
						<dl>
							<dt><input type="radio" name="c-address" id="address01" checked><label for="address01"><strong>山田　太郎 〒530-6190　大阪府　大阪市　北区　中之島ダイビル</strong></label></dt>
						</dl>
						<dl>
							<dt><input type="radio" name="c-address" id="address02"><label for="address02"><strong>山田　太郎 〒530-6190　大阪府　大阪市　北区　中之島ダイビル</strong></label></dt>
						</dl>
						<dl>
							<dt><input type="radio" name="c-address" id="address03"><label for="address03"><strong>山田　太郎 〒530-6190　大阪府　大阪市　北区　中之島ダイビル</strong></label></dt>
						</dl>
						<dl>
							<dt><input type="radio" name="c-address" id="address04"><label for="address04"><strong>山田　太郎 〒530-6190　大阪府　大阪市　北区　中之島ダイビル</strong></label></dt>
						</dl>
					</div>
					<div class="btn-wrap">
						<button class="btn border-btn re-search-btn">再検索する</button>
						<button class="btn black-btn select-btn">選択する</button>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-btm">
			<p class="modal-btm-txt">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
			<a href="" class="btn red-btn login-register-btn">ログイン／新規登録</a>
		</div>
	</div>
</div>
<div id="address-modal03" class="modal-block">
	<div class="modal-block-inner">
		<span class="close-btn js-close"></span>
		<h4>商品お届け先設定</h4>
		<div class="modal-block-main">
			<div class="form-block">
				<form>
					<div class="form-block-inner form-block-top">
						<dl>
							<dt><input type="radio" name="c-address02" id="address05" checked><label for="address05"><strong>山田　太郎<br>〒530-6190　大阪府　大阪市　北区　中之島ダイビル</strong></label></dt>
						</dl>
						<dl>
							<dt><input type="radio" name="c-address02" id="address06"><label for="address06"><strong>山田　太郎<br>〒530-6190　大阪府　大阪市　北区　中之島ダイビル</strong></label></dt>
						</dl>
					</div>
					<div class="form-block-inner form-block-btm">
						<dl>
							<dt><input type="radio" name="address02" id="postcode02" checked><label for="postcode02"><strong>郵便番号で検索</strong><small>郵便番号は3桁以上で住所を検索できます。<br>例：1050004（半角英数）</small></label></dt>
							<dd class="post-input"><span class="post-symbol">〒</span><input type="text" name=""><span class="post-border">ー</span><input type="text" name=""><button class="btn black-btn search-btn">検索</button></dd>
						</dl>
						<dl>
							<dt><input type="radio" name="address02" id="local02"><label for="local02"><strong>市町村名で検索</strong><small>市町村名で住所を検索できます。<br>例：新橋（東京都港区新橋の場合）</small></label></dt>
							<dd class="address-input"><input type="text" name=""><button class="btn black-btn search-btn">検索</button></dd>
						</dl>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>