<div class="item-left js-item-left">
    <div class="item-sp-left">
        <div class="item-leftprodimg">
            <a href="" target="_self"><img class="img" src="./assets/img/cart/item-230x230.png" alt=""></a>
        </div>
        <div class="item-lefticon js-lefticon">
            <img class="img" src="./assets/img/cart/icon-dummy.png" alt="">
            <img class="img" src="./assets/img/cart/icon-dummy.png" alt="">
            <img class="img" src="./assets/img/cart/icon-dummy.png" alt="">
            <img class="img" src="./assets/img/cart/icon-dummy.png" alt="">
        </div>
    </div>
</div>

<div class="item-right js-item-right">
    <div class="item-rightproddetail js-item-rightproddetail">
        <div class="item-rightproddetailrow name js-name">
            <a href="" target="_self">
                JVCケンウッド 完全ワイヤレスイヤフォン ブラック
                <div class="type">
                    HAA11TB
                </div>
            </a>

        </div>
        <div class="item-rightproddetailrow price">
            <span class="price-stock">￥5,720×1点</span><span class="price-price">￥5,720(税込)</span>
        </div>
        <div class="item-rightproddetailrow stock">
            <span class="stock-num">在庫数 25台</span> <span class="stock-stat">翌日出荷（大型品は別途ご案内）</span>
        </div>
    </div>
    <div class="item-rightwarranty warranty05">
        <ul>
            <li>・付与予定ポイント：エディオンポイント　0ポイント</li>
            <li>・期間限定ボーナスポイント：エディオンポイント　1,619ポイント</li>
            <li>　ご利用可能期間：2021/12/01～2022/03/31</li>
        </ul>
    </div>
</div>
