<div class="coupon addition">

    <div class="coupon-row coupon-row01">
        <div class="coupon-ttl">
            電子ギフトカード・エディオン株主様ご優待ギフトカードの利用
        </div>
        <div class="coupon-link small">
            <a href="">ギフトカードを利用する</a>
        </div>
    </div>
    <div class="coupon-row coupon-row02">
        <div class="coupon-ttl">
            電子ギフトカード・エディオン株主様ご優待ギフトカードの利用
        </div>
        <div class="giftcard-wrap small">
            <div class="coupon-giftcard giftcard">
                <div class="giftcardnum"><span class="is-pc-inline">・</span>カード番号：************4608</div>
                <div class="giftcardprice"><span class="is-sp-inline">残高：</span>￥3,000</div>
                <div class="giftcarddate"><span class="is-sp-inline">有効期限：</span>2022/06/30</div>
                <div class="giftcardinput">
                    <span class="is-sp-inline">ご利用可能額：</span>
                    ¥
                    <input type="text" name="" value="" placeholder="1,000">
                </div>
                <div class="giftcardremove">
                    <a href="">削除する</a>
                </div>
            </div>
            <div class="coupon-giftcard giftcard">
                <div class="giftcardnum"><span class="is-pc-inline">・</span>カード番号：************4608</div>
                <div class="giftcardprice"><span class="is-sp-inline">残高：</span>￥3,000</div>
                <div class="giftcarddate"><span class="is-sp-inline">有効期限：</span>2022/06/30</div>
                <div class="giftcardinput">
                    <span class="is-sp-inline">ご利用可能額：</span>
                    ¥
                    <input type="text" name="" value="" placeholder="1,000">
                </div>
                <div class="giftcardremove">
                    <a href="">削除する</a>
                </div>
            </div>
        </div>
        <div class="coupon-link small flex-end">
            <a href="">ギフトカードを追加する</a>
        </div>
    </div>
    <div class="coupon-row coupon-row03">
        <div class="coupon-ttl">
            お支払い方法の設定
        </div>
        <div class="coupon-link small">
            <a href="">お支払い方法を設定する</a>
        </div>

    </div>
    <div class="coupon-row coupon-row04">
        <div class="coupon-ttl">
            お支払い方法の設定
        </div>
        <div class="coupon-rowrow small">
            <div class="row-desc">
                <div class="row-descttl">
                    クレジットカード決済   一括払い
                </div>
                <div class="row-link coupon-link">
                    <a href="">お支払い方法を変更する</a>
                </div>
            </div>
            <div class="row-desc">
                カード番号：************4608
            </div>
        </div>
    </div>
    <div class="coupon-row coupon-row05">
        <div class="coupon-ttl">
            お届け先の設定
        </div>
        <div class="coupon-link small">
            <!— TODO: [住所設定済みの場合は非表示] —>
            <a href="">お届け先を設定する</a>
            <!-- [お届け先を設定するボタン] -->

            <!— TODO: [住所設定済みの場合に表示] —>
            <!-- [住所等の各種情報] -->
        </div>
    </div>
    <div class="coupon-row coupon-row06">
        <div class="coupon-col coupon-ttl">
            お届け先の設定
        </div>
        <div class="coupon-value">
            <div class="value-detail small">
                <div class="accountdetail">
                    <div class="accountdetail-row accountdetail-row01">
                        <span>山田太郎</span>
                    </div>
                    <div class="accountdetail-row accountdetail-row02">
                        <span class="accountdetail-item">住所　　　　　：</span>
                        <span class="accountdetail-value">〒XXX-XXXX  大阪府XXXX市XXXX区XXXXX</span>
                    </div>
                    <div class="accountdetail-row accountdetail-row03">
                        <span class="accountdetail-item">電話　　　　　：</span>
                        <span class="accountdetail-value">080XXXXXXXX</span>
                    </div>
                    <div class="accountdetail-row accountdetail-row04">
                        <span class="accountdetail-item">メールアドレス：</span>
                        <span class="accountdetail-value">XXXXXXXXXX@gmail.com</span>
                    </div>
                </div>
            </div>
            <div class="coupon-link value-link small">
                <a href="">お届け先を変更する</a>
                <a href="">複数のお届け先を指定する</a>
                <a href="">お届け日時を変更する</a>
            </div>
        </div>
        <div class="coupon-receive">
            <div class="coupon-receivedesc">
                <div class="coupon-receivedescttl">
                    ご自宅以外の場所でもお受取りが可能です。
                </div>
                <div class="coupon-receivedescdesc small">
                    <span>選択ボタンを押して一覧ページから<br class="is-sp">最寄の受取り場所をご指定ください。<a href="">詳細</a></span>
                </div>
            </div>
            <div class="coupon-receivebtn">
                <div class="coupon-receivebtnitem small">
                    <div class="coupon-receivebtnitemdesc">
                        ヤマト営業所で受け取る
                    </div>
                    <div class="coupon-receivebtnitemlink">
                        <a href="">選択</a>
                    </div>
                </div>
                <div class="coupon-receivebtnitem small">
                    <div class="coupon-receivebtnitemdesc">
                        コンビニで受け取る
                    </div>
                    <div class="coupon-receivebtnitemlink">
                        <a href="">選択</a>
                    </div>
                </div>
                <div class="coupon-receivebtnitem small">
                    <div class="coupon-receivebtnitemdesc">
                        ロッカーで受け取る
                    </div>
                    <div class="coupon-receivebtnitemlink">
                        <a href="">選択</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
