<div class="item-left js-item-left">
    <div class="item-sp-left">
        <div class="item-leftprodimg">
            <a href="" target="_self"><img class="img" src="./assets/img/cart/item-230x230.png" alt=""></a>
        </div>
        <div class="item-lefticon js-lefticon">
            <img class="img" src="./assets/img/cart/icon-dummy.png" alt="">
            <img class="img" src="./assets/img/cart/icon-dummy.png" alt="">
            <img class="img" src="./assets/img/cart/icon-dummy.png" alt="">
            <img class="img" src="./assets/img/cart/icon-dummy.png" alt="">
        </div>
    </div>
</div>
<div class="item-right js-item-right">
    <div class="item-rightproddetail js-item-rightproddetail">
        <div class="item-rightproddetailrow name js-name">
            <a href="" target="_self">
                パナソニック 「標準工事費サービス」 18畳向け 自動お掃除付き
                <div class="type">
                    RASWM56K2E8WS
                </div>
            </a>
        </div>
        <div class="item-rightproddetailrow price">
            ￥59,800(税込)
        </div>
        <div class="item-rightproddetailrow quantity js-quantity">
            <div class="quantity-text">
                数量：
            </div>
            <div class="quantity-select form-block-select">
                <select class="" name="">
                    <option value="1">1</option>
                    <option value="1">1</option>
                    <option value="1">1</option>
                </select>
            </div>
            <div class="sp-spacer"></div>
            <div class="quantity-remove">
                <a href="#">削除する</a>
            </div>
        </div>
    </div>

    <div class="item-rightwarranty warranty04">
        <div class="item-rightwarrantyrow warranty">
            <div class="ttl">
                保証特典：
            </div>
            <div class="value">
                エディオンカード、100満ボルトカード長期修理保証5年<br class="is-pc"><span class="is-sp-inline">　</span>あんしん保証3年
            </div>
        </div>
        <div class="item-rightwarrantyrow point">
            <div class="ttl">
                ポイント：
            </div>
            <div class="value">
                1,346ポイント進呈（期間限定ポイント含む）
            </div>
        </div>
        <div class="item-rightwarrantyrow stock">
            <div class="ttl">
                ◎ 在庫あり
            </div>
            <div class="value">
                <a href="">その他の店舗在庫を確認する</a>
            </div>
        </div>
        <div class="item-rightwarrantyrow favorite favorite-first js-favorite-first">
            <button type="button" name="button">お気に入り商品に追加する</button>
        </div>
        <div class="item-rightwarrantyrow favorite favorite-last js-favorite-last">
            <a class="favorite-editdelivery" href="#">配送受取に変更する</a>
        </div>
    </div>
</div>
