<div class="item-left js-item-left">
    <div class="item-sp-left">
        <div class="item-leftprodimg">
            <a href="" target="_self"><img class="img" src="./assets/img/cart/item-230x230.png" alt=""></a>
        </div>
        <div class="item-lefticon js-lefticon">
            <img class="img" src="./assets/img/cart/icon-dummy.png" alt="">
            <img class="img" src="./assets/img/cart/icon-dummy.png" alt="">
            <img class="img" src="./assets/img/cart/icon-dummy.png" alt="">
            <img class="img" src="./assets/img/cart/icon-dummy.png" alt="">
        </div>
    </div>
</div>
<div class="item-right js-item-right">
    <div class="item-rightproddetail js-item-rightproddetail">
        <div class="item-rightproddetailrow name js-name">
            <a href="" target="_self">
                パナソニック 「標準工事費サービス」 18畳向け 自動お掃除付き
                <div class="type">
                    RASWM56K2E8WS
                </div>
            </a>
        </div>
        <div class="item-rightproddetailrow price">
            ￥59,800(税込)
        </div>
        <div class="item-rightproddetailrow quantity js-quantity">
            <div class="quantity-text">
                数量：
            </div>
            <div class="quantity-select form-block-select">
                <select class="" name="">
                    <option value="1">1</option>
                    <option value="1">1</option>
                    <option value="1">1</option>
                </select>
            </div>
            <div class="sp-spacer"></div>
            <div class="quantity-remove">
                <a href="#">削除する</a>
            </div>
        </div>
    </div>

    <div class="item-rightwarranty warranty02">
        <div class="item-rightwarrantyrow warranty">
            <div class="ttl">
                保証特典：
            </div>
            <div class="value">
                エディオンカード、100満ボルトカード長期修理保証5年<br class="is-pc"><span class="is-sp-inline">　</span>あんしん保証3年
            </div>
        </div>
        <div class="item-rightwarrantyrow point">
            <div class="ttl">
                ポイント：
            </div>
            <div class="value">
                1,346ポイント進呈（期間限定ポイント含む）
            </div>
        </div>
        <div class="item-rightwarrantyrow stock">
            <div class="ttl">
                ◎ 在庫あり
            </div>
            <div class="value">
                翌日出荷（大型品は別途ご案内）
            </div>
        </div>
        <div class="item-rightwarrantyrow favorite">
            <button type="button" name="button">お気に入り商品に追加する</button>
        </div>
    </div>

    <div class="item-rightsettlement">
        <div class="settlement-row settlement-prodtotal">
            <div class="settlement-item">
                商品計：￥59,800 <span class="tax">(税込)</span> × 数量：1
            </div>
            <div class="settlement-value">
                 ￥59,800 <span class="tax">(税込)</span>
             </div>
        </div>
        <div class="settlement-row settlement-construction">
            <div class="settlement-item">
                工事料：
            </div>
            <div class="settlement-value">
                ￥18,920 <span class="tax">(税込)</span>
            </div>
        </div>
        <div class="settlement-row settlement-total">
            <div class="settlement-item">
                小　計：
             </div>
            <div class="settlement-value">
                <span class="total">￥78,720</span> <span class="tax">(税込)</span>
            </div>
        </div>

    </div>
    <div class="item-rightedit">
        <div class="edit-row">
            <div class="edit-confirm">
                <a href="">設置・工事の確認・変更をする</a>
            </div>
        </div>
    </div>
    <div class="item-rightaccessory">
        <div class="accessory-row">
            <div class="accessory-item">
                EDIONエアコン（標準）取付・工事
            </div>
            <div class="accessory-price">
                ￥13,420 <span class="tax">(税込)</span>
            </div>
            <div class="accessory-quantity">
                 数量：1
            </div>
        </div>
        <div class="accessory-row">
            <div class="accessory-item">
                EDIONエアコンカバ－アイボリ－9
            </div>
            <div class="accessory-price">
                ￥13,420 <span class="tax">(税込)</span>
            </div>
            <div class="accessory-quantity">
                 数量：1
            </div>
        </div>
    </div>
</div>
