<div class="back-btn js-back-top">
	<a href="#body"><img src="./assets/img/common/icon-back-top.png" alt="トップへ戻る"></a>
</div>
<footer id="footer" class="footer">
	<div class="footer-container">
		<div class="footer-top">
			<div class="footer-top-inner">
				<div class="footer-heading"><a href="">エディオンネットショップ</a></div>
				<ul>
					<li><a href="">はじめてのお客様へ</a></li>
					<li><a href="">ご利用登録者メニュー</a></li>
					<li><a href="">ご注文について</a></li>
					<li><a href="">配送・設備・工事について</a></li>
					<li><a href="">保証や修理受付について</a></li>
				</ul>
			</div>
			<div class="footer-top-inner">
				<div class="footer-heading"><a href="">エディオンアプリ</a></div>
				<div class="footer-heading"><a href="">エディオンカードについて</a></div>
			</div>
			<div class="footer-top-inner">
				<div class="footer-heading"><a href="">店舗について</a></div>
				<ul>
					<li><a href="">家電トータルサポート</a></li>
					<li><a href="">配達・工事・修理・リサイクル</a></li>
					<li><a href="">店舗・商品情報</a></li>
					<li><a href="">エンタメ・カルチャー情報</a></li>
				</ul>
			</div>
			<div class="footer-top-inner">
				<div class="footer-heading"><a href="">法人様専用WEBサイト</a></div>
				<div class="footer-heading"><a href="">エディオンハウジング</a></div>
				<div class="footer-heading"><a href="">エディオンネット</a></div>
				<div class="footer-heading"><a href="">企業情報</a></div>
			</div>
		</div>
		<div class="footer-btm">
			<div class="footer-btm-inner">
				<ul class="footer-btm-list">
					<li><a href="">企業情報</a></li>
					<li><a href="">プレスリリース</a></li>
					<li><a href="">利用規約</a></li>
					<li><a href="">特商法に関する表示</a></li>
					<li><a href="">推奨環境</a></li>
					<li><a href="">個人情報保護方針</a></li>
					<li><a href="">よくあるご質問</a></li>
				</ul>
				<p class="copyright">© EDION Corporation</p>
			</div>
		</div>
	</div>
</footer>
