<div class="back-btn js-back-top">
	<a href="#body"><img src="./assets/img/common/icon-back-top.png" alt="トップへ戻る"></a>
</div>
<footer id="footer" class="footer-fc">
	<div class="footer-container">
        © EDION Corporation
	</div>
</footer>
