<span class="overlay overlay01"></span>
<span class="overlay overlay02"></span>
<div class="header-menu-sp">
	<span class="close-btn js-close"></span>
	<span class="overlay overlay03"></span>
	<div class="header-menu-sp-inner">
		<div class="header-menu-sp-top">
			<div class="mypage-link">
				<a href=""><strong>▶︎ マイページ</strong><span>山田 太郎</span></a>
			</div>
			<!--<div class="login-link">
				<a href=""><span class="login-icon-img"><img src="./assets/img/common/icon-login.png" alt=""></span><strong>ログイン / 新規登録</strong></a>
			</div>-->
			<div class="news-link">
				<a href="">お知らせ一覧 <span class="news-badge">1</span></a>
			</div>
			<div class="point-info">
				<h4>エディオンポイント</h4>
				<dl>
					<dt>T-POINT</dt>
					<dd>10000ポイント</dd>
				</dl>
				<dl>
					<dt>D-POINT</dt>
					<dd>10000ポイント</dd>
				</dl>
			</div>
		</div>
		<div class="header-menu-sp-mdl">
			<div class="cart-btn">
				<a href="">
					<div class="cart-icon">
						<span class="cart-icon-img"><img src="./assets/img/common/icon-cart.png" alt=""></span>
						<div class="cart-badge is-sp"><span>1</span></div>
					</div>
					<strong>カートを見る</strong>
				</a>
				<p class="cart-txt">合計28,000円</p>
			</div>
			<div class="category-btn js-accordion-btn is-active">
				<div class="category-hamburger">
					<div class="category-hamburger-inner">
					<span></span>
					<span></span>
					<span></span>
					</div>
				</div>
				<span class="category-btn-txt">カテゴリから探す</span>
			</div>
			<div class="category-list">
				<ul>
					<li><a href="">家電</a></li>
					<li><a href="">小物家電</a></li>
					<li><a href="">パソコン・タブレット・周辺機器</a></li>
					<li><a href="">インク・メディア・用紙他</a></li>
					<li><a href="">防災・防犯・ドアホン・金庫</a></li>
					<li><a href="">化粧品・ヘアケア・ボディケア</a></li>
					<li><a href="">ヘルスケア・医療品</a></li>
					<li><a href="">焙煎珈琲・食品・飲料</a></li>
					<li><a href="">ヘルスケア・医療品</a></li>
					<li><a href="">ペット用品・DIY・工具</a></li>
					<li><a href="">理美容・健康</a></li>
					<li><a href="">アウトドア・スポーツ</a></li>
					<li><a href="">電池・電球・その他</a></li>
					<li><a href="">くすり</a></li>
					<li><a href="">時計・タイマー・温湿度計</a></li>
					<li><a href="">お酒</a></li>
					<li><a href="">事務用品</a></li>
					<li><a href="">ドラレコ・カー用品</a></li>
					<li><a href="">文房具・オフィス用品</a></li>
				</ul>
			</div>
			<div class="pickup-link">
				<ul>
					<li><a href=""><span class="other-link-icon"><img src="./assets/img/common/icon-flyer.png"></span>店舗・チラシ</a></li>
					<li><a href=""><span class="other-link-icon"><img src="./assets/img/common/icon-faq.png"></span>よくある質問</a></li>
					<li><a href=""><span class="other-link-icon"><img src="./assets/img/common/icon-guide.png"></span>お買い物ガイド</a></li>
					<li><a href=""><span class="other-link-icon"><img src="./assets/img/common/icon-contact.png"></span>お問い合わせ</a></li>
				</ul>
			</div>
		</div>
		<div class="header-menu-sp-btm">
			<div class="other-link">
				<ul>
					<li><a href="">エディオンカード</a></li>
					<li><a href="">便利なサービス</a></li>
					<li><a href="">リフォーム</a></li>
					<li><a href="">コーポレートサイト</a></li>
					<li><a href="">法人様専用サイト</a></li>
					<li><a href="">エディオンハウジング</a></li>
				</ul>
			</div>
			<div class="sns-link">
				<ul>
					<li><a href="" target="_blank"><img src="./assets/img/common/icon-facebook.png" alt="Facebook"></a></li>
					<li><a href="" target="_blank"><img src="./assets/img/common/icon-twiiter.png" alt="Twitter"></a></li>
					<li><a href="" target="_blank"><img src="./assets/img/common/icon-instagram.png" alt="Instagram"></a></li>
					<li><a href="" target="_blank"><img src="./assets/img/common/icon-line.png" alt="Line"></a></li>
					<li><a href="" target="_blank"><img src="./assets/img/common/icon-youtube.png" alt="Youtube"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div><!-- header-menu-sp -->
<header id="header" class="header">
	<div class="header-container">
		<div class="header-top">
			<div class="header-top-left">
				<span>家電と暮らしのエディオン公式通販サイト</span>
				<ul class="header-sns">
					<li><a href="" target="_blank"><img src="./assets/img/common/icon-facebook.png" alt="Facebook"></a></li>
					<li><a href="" target="_blank"><img src="./assets/img/common/icon-twiiter.png" alt="Twitter"></a></li>
					<li><a href="" target="_blank"><img src="./assets/img/common/icon-instagram.png" alt="Instagram"></a></li>
					<li><a href="" target="_blank"><img src="./assets/img/common/icon-line.png" alt="Line"></a></li>
					<li><a href="" target="_blank"><img src="./assets/img/common/icon-youtube.png" alt="Youtube"></a></li>
				</ul>
			</div>
			<div class="header-top-right">
				<ul class="header-info">
					<li><a href="">店舗情報</a></li>
					<li><a href="">コーポレートサイト</a></li>
					<li><a href="">法人様専用サイト</a></li>
					<li><a href="">エディオンハウジング</a></li>
					<li><a href="">よくあるご質問</a></li>
					<li><a href="">お問い合わせ</a></li>
				</ul>
			</div>
		</div><!-- header-top -->
		<div class="header-mdl">
			<div class="header-hamburger-sp js-hamburger">
				<div class="header-hamburger-sp-inner">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="header-mdl-logo"><a href="/"><img src="./assets/img/common/header-logo.png" alt="EDION ネットショップ"></a></div>
			<div class="header-mdl-info">
				<div class="favorite-link">
					<a href="" class="favorite-link-btn">お気に入り</a>
				</div>
				<div class="guide-link">
					<a href="" class="guide-link-btn">お買い物ガイド</a>
				</div>
				<div class="mypage-link js-hover" hover-id="mypage-hover">
					<a href="" class="mypage-link-btn"><strong>▶︎ マイページ</strong><span>山田 太郎</span></a>
					<div id="mypage-hover" class="hover-block">
						<span class="hover-balloon"></span>
						<div class="hover-block-flex">
							<div class="hover-block-left">
								<div class="mypage-link-list">
									<h4>各種照会/登録変更</h4>
									<ul>
										<li><a href="">・購入履歴</a></li>
										<li><a href="">・再購入</a></li>
										<li><a href="">・工事見積書反映</a></li>
										<li><a href="">・ポイント照会</a></li>
										<li><a href="">・会員情報/メルマガ設定</a></li>
										<li><a href="">・友達/家族紹介</a></li>
										<li><a href="">・家族登録一覧</a></li>
										<li><a href="">・お届け先情報</a></li>
									</ul>
								</div>
								<div class="mypage-link-list">
									<h4>セール/商品/店舗</h4>
									<ul>
										<li><a href="">・クーポン</a></li>
										<li><a href="">・メーカーキャンペーン</a></li>
										<li><a href="">・シークレットセール</a></li>
										<li><a href="">・お気に入り</a></li>
										<li><a href="">・商品レビュー</a></li>
										<li><a href="">・友達/家族紹介</a></li>
										<li><a href="">・生活雑貨・薬・お酒</a></li>
										<li><a href="">・よく利用する店舗</a></li>
									</ul>
								</div>
							</div>
							<div class="hover-block-right">
								<div class="mypage-link-list">
									<h4>サービス関連</h4>
									<ul>
										<li><a href="">・保証対象商品</a></li>
										<li><a href="">・修理状況</a></li>
										<li><a href="">・訪問処理</a></li>
										<li><a href="">・各種依頼</a></li>
										<li><a href="">・オンライン修理見積</a></li>
										<li><a href="">・小型家電修理引き取り</a></li>
										<li><a href="">・家電トータルサポート</a></li>
										<li><a href="">・接客予約</a></li>
									</ul>
								</div>
								<div class="mypage-link-list">
									<h4>ヘルプ</h4>
									<ul>
										<li><a href="">・FAQ</a></li>
										<li><a href="">・お問い合わせ</a></li>
									</ul>
								</div>
								<div class="mypage-link-list">
									<h4>その他</h4>
									<ul>
										<li><a href="">・お知らせ一覧</a></li>
										<li><a href="">・エディオンカードポイントシュミレーション</a></li>
										<li><a href="">・カード情報登録</a></li>
										<li><a href="">・よく利用する店舗</a></li>
										<li><a href="">・My店舗(アプリ)</a></li>
										<li><a href="">・ログイン履歴</a></li>
										<li><a href="">・認証デバイス一覧</a></li>
										<li><a href="">・ログアウト</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<div class="header-address js-modal" modal-id="address-modal">
					<span class="address-ttl">お届け先</span>
					<p>〒530-0005<br>大阪市北区中之島二丁目</p>
				</div>
				<!--<div class="login-link is-pc">
					<a href="">新規登録 / ログイン</a>
				</div>-->
				<div class="header-cart">
					<div class="cart-txt">
						<div class="cart-txt-inner">
							<span class="cart-num-ttl">カート内件数</span>
							<p class="cart-num-txt">9点</p>
						</div>
						<p class="cart-price"><strong>合計28,000円</strong></p>
					</div>
					<div class="mypage-btn is-sp">
						<a href="">
							<strong>▶︎ マイページ</strong><span>山田 太郎</span>
						</a>
					</div>
					<!--<div class="login-link is-sp">
						<a href="">新規登録 / ログイン</a>
					</div>-->
					<div class="cart-btn">
						<a href="">
							<div class="cart-icon">
								<span class="cart-icon-img"><img src="./assets/img/common/icon-cart.png" alt=""></span>
								<div class="cart-badge"><span>1</span></div>
							</div>
							<strong>カートを見る</strong>
						</a>
					</div>
				</div>
				<div class="header-address-sp is-sp">
					<div class="header-address-sp-inner js-modal" modal-id="address-modal">
						<span class="address-ttl">配送先：</span>
						<p>〒530-0005 大阪市北区中之島二丁目</p>
					</div>
				</div>
			</div>
		</div><!-- header-mdl -->
		<div class="header-btm">
			<div class="header-category js-hover" hover-id="category-hover">
				<div class="category-btn">
					<div class="category-hamburger">
						<div class="category-hamburger-inner">
						<span></span>
						<span></span>
						<span></span>
						</div>
					</div>
					<span class="category-btn-txt">カテゴリから探す</span>
				</div>
				<div id="category-hover" class="hover-block">
					<span class="hover-balloon"></span>
					<div class="hover-block-flex">
						<ul class="hover-list">           
							<li><a href="" class="is-active">エアコン・空気清浄機・除湿機・加湿器</a></li>
							<li><a href="">ゲーム</a></li>
							<li><a href="">洗剤・キッチン・日用品</a></li>
							<li><a href="">暖房・扇風機・照明</a></li>
							<li><a href="">ブルーレイ・DVD・CDソフト</a></li>
							<li><a href="">化粧品・ヘアケア・ボディケア</a></li>
							<li><a href="">テレビ・レコーダー</a></li>
							<li><a href="">防災・防犯・ドアホン・金庫</a></li>
							<li><a href="">ヘルスケア・医療品</a></li>
							<li><a href="">冷蔵庫・洗濯機・家事・掃除機</a></li>
						</ul>
						<ul class="hover-list">           
							<li><a href="">SIMフリー（スマホ・タブレット）</a></li>
							<li><a href="">焙煎珈琲・食品・飲料</a></li>
							<li><a href="">電子レンジ・炊飯器・調理</a></li>
							<li><a href="">スマホアクセサリー</a></li>
							<li><a href="">ペット用品・DIY・工具・ガーデニング</a></li>
							<li><a href="">理美容・健康・シャワートイレ・シャワーヘッド</a></li>
							<li><a href="">ロボット</a></li>
							<li><a href="">家具・寝具</a></li>
							<li><a href="">オーディオ・ヘッドホン・楽器</a></li>
							<li><a href="">インク・データ用メディア・用紙他</a></li>
						</ul>
						<ul class="hover-list">           
							<li><a href="">トラベル用品・アウトドア・スポーツ</a></li>
							<li><a href="">パソコン・タブレット・周辺機器</a></li>
							<li><a href="">電池・電球・録画用メディア・配線パーツ</a></li>
							<li><a href="">くすり</a></li>
							<li><a href="">カメラ・GoPro・レンズ・SDメモリー</a></li>
							<li><a href="">時計・タイマー・温湿度計・ジュエリー</a></li>
							<li><a href="">お酒</a></li>
							<li><a href="">電子辞書・翻訳機・FAX・事務用品</a></li>
							<li><a href="">ドラレコ・カー用品</a></li>
							<li><a href"">釣り具</a></li>
						</ul>
						<ul class="hover-list">           
							<li><a href="">玩具・ベビーキッズ</a></li>
							<li><a href="">文房具・オフィス用品</a></li>
						</ul>
					</div>
				</div>	
			</div>
			<div class="header-search">
				<div class="header-search-inner">
					<div class="search-select">
						<span class="search-select-txt">全ての商品</span>
						<select class="js-search-select">
							<option value="全ての商品" selected>全ての商品</option>
							<option value="エアコン・空気清浄機・除湿機・加湿器">エアコン・空気清浄機・除湿機・加湿器</option>
							<option value="暖房・扇風機・照明">暖房・扇風機・照明</option>
							<option value="テレビ・レコーダー">テレビ・レコーダー</option>
							<option value="冷蔵庫・洗濯機・家事・掃除機">冷蔵庫・洗濯機・家事・掃除機</option>
							<option value="電子レンジ・炊飯器・調理">電子レンジ・炊飯器・調理</option>
						</select>
					</div>
					<div class="search-keyword">
						<form>
							<input type="text" name="keyword" placeholder="キーワード・商品名で探す">
							<button><img src="./assets/img/common/icon-search.png" alt="検索"></button>
						</form>
					</div>
				</div>
			</div>
			<ul class="other-link">
				<li class="js-hover" hover-id="flyer-hover">
					<span>店舗チラシ</span>
					<div id="flyer-hover" class="hover-block">
						<span class="hover-balloon"></span>
						<ul class="hover-list">
							<li><a href="">・店舗・チラシ検索</a></li>
							<li><a href="">・店舗情報</a></li>
							<li><a href="">・Appleインフォメーション</a></li>
							<li><a href="">・Appleショップ店舗情報</a></li>
							<li><a href="">・iPhone オンライン予約</a></li>
							<li><a href="">・エディオン蔦屋家電</a></li>
							<li><a href="">・エディオン広島本店</a></li>
							<li><a href="">・エディオンなんば本店</a></li>
							<li><a href="">・エディオン名古屋本店</a></li>
							<li><a href="">・商品WEBカタログ</a></li>  
						</ul>
					</div>
				</li>
				<li class="js-hover" hover-id="card-hover">
					<span>エディオンカード</span>
					<div id="card-hover" class="hover-block">
						<span class="hover-balloon"></span>
						<ul class="hover-list">
							<li><a href="">・エディオンカードの長期修理保証</a></li>
				            <li><a href="">・エディオンカードのポイント</a></li>
				            <li><a href="">・エディオンカードでポイントを貯める</a></li>
				            <li><a href="">・ETCカード</a></li>
				            <li><a href="">・家族カード</a></li>
				            <li><a href="">・あんしん保証カードの長期修理保証</a></li>
				            <li><a href="">・あんしん保証カードのポイント</a></li>
				            <li><a href="">・会員カード一覧</a></li>
				            <li><a href="">・カードに関するよくある質問</a></li>
				            <li><a href="">・募集中！新規エディオンカード会員<br>【Web申込※要会員登録】</a></li>  
						</ul>
					</div>
				</li>
				<li class="js-hover" hover-id="service-hover">
					<span>便利なサービス</span>
					<div id="service-hover" class="hover-block">
						<span class="hover-balloon"></span>
						<ul class="hover-list">
							<li><a href="">・エアコンクリーニング</a></li>
				            <li><a href="">・レンジフードクリーニングサービス</a></li>
				            <li><a href="">・洗濯槽クリーニングサービス</a></li>
				            <li><a href="">・おそうじ・点検サービス（ご自宅訪問）</a></li>
				            <li><a href="">・おそうじ・点検サービス（店舗持込）</a></li>
				            <li><a href="">・訪問修理サービス</a></li>
				            <li><a href="">・小型家電修理引取りサービス</a></li>
						</ul>
					</div>
				</li>
				<li class="js-hover" hover-id="renovate-hover">
					<span>リフォーム</span>
					<div id="renovate-hover" class="hover-block">
						<span class="hover-balloon"></span>
						<ul class="hover-list">
							<li><a href="">・エディオンリフォームサイト</a></li>
				            <li><a href="">・リフォームメニュー</a></li>
				            <li><a href="">・オール電化</a></li>
				            <li><a href="">・太陽光発電システム</a></li>
				            <li><a href="">・エディオンが選ばれている理由</a></li>
				            <li><a href="">・リフォームwebチラシ</a></li>
				            <li><a href="">・新着情報</a></li>
				            <li><a href="">・工事対応エリア</a></li>
				            <li><a href="">・リフォームwebカタログ</a></li>
				            <li><a href="">・リフォーム事例</a></li>
				            <li><a href="">・リフォームに関するお問い合わせ<br>（相談・見積無料）</a></li>
				            <li><a href="">・来店不要!写真で簡単見積</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div><!-- header-btm -->
		<div class="header-search-history">
			<div class="category-btn js-search-category">
				<div class="category-hamburger">
					<div class="category-hamburger-inner">
					<span></span>
					<span></span>
					<span></span>
					</div>
				</div>
				<span class="category-btn-txt">カテゴリから探す</span>
			</div>
			<h4><strong>検索履歴</strong><span class="history-remove js-all-remove">すべて削除</span></h4>
			<ul class="history-list">
				<li>ヒーター<span class="close-btn single-remove js-single-remove"></span></li>
				<li>冷蔵庫<span class="close-btn single-remove js-single-remove"></span></li>
				<li>加湿器<span class="close-btn single-remove js-single-remove"></span></li>
				<li>テレビ<span class="close-btn single-remove js-single-remove"></span></li>
				<li>照明<span class="close-btn single-remove js-single-remove"></span></li>
				<li>パナソニック<span class="close-btn single-remove js-single-remove"></span></li>
				<li>掃除機<span class="close-btn single-remove js-single-remove"></span></li>
				<li>黒<span class="close-btn single-remove js-single-remove"></span></li>
				<li>洗濯機<span class="close-btn single-remove js-single-remove"></span></li>
				<li>スピーカー<span class="close-btn single-remove js-single-remove"></span></li>
				<li>防犯<span class="close-btn single-remove js-single-remove"></span></li>
				<li>炊飯器<span class="close-btn single-remove js-single-remove"></span></li>
				<li>電子レンジ<span class="close-btn single-remove js-single-remove"></span></li>
			</ul>
		</div>
		<div class="login-status">
			<p class="secret">シークレットモードでログイン中</p>
			<p class="special">社員優待モードでログイン中</p>
		</div>
	</div>
</header>