<header id="header" class="header header-fc">
    <div class="header-fc-logo">
        <img src="./assets/img/common/header-logo-fc.png" width="270" alt="EDION エディオンFC専用 デジタルカタログサイト">
    </div>
    <div class="header-fc-menu">
        <div  class="header-fc-menu-wrap js-fc-menu-wrap">
            <ul>
                <li class="hausing"><a href=""><img src="../assets/img/common/header-fc-icon01.png" width="17" class="icon" alt="">エディオンハウジング</a></li>
                <li class="edionnet"><a href="">エディオンネット</a></li>
                <li class="corporate"><a href="">コーポレートサイト</a></li>
            </ul>
            <div class="overlay js-fc-menu-overlay"></div>
        </div>
    </div>
    <div class="header-fc-menu-sp js-fc-menu-btn">
        <img src="../assets/img/common/header-fc-menu.svg" alt="">
    </div>
</header>