                <div class="postreviewitem">
                    <div class="postreviewitem-left">
                        <ul>
                            <li class="postreviewitem-star"><span class="review-star star5"></span>5</li>
                            <li class="postreviewitem-poster">投稿者：あおいさん</li>
                            <li class="postreviewitem-postdate">投稿日時：2020/12/17 15:25</li>
                        </ul>
                    </div>
                    <div class="postreviewitem-center">
                        <ul>
                            <li class="postreviewitem-cmtttl">商品について</li>
                            <li class="postreviewitem-cmtdesc">
                              洗面所、キッチン用にと購入しました。
                              速暖です！200wと400wの切り替えがしたくてこちらにしました。
                              コンパクトサイズなので、置き場所を選びません。
                              色もアラジングリーンが可愛いです。
                              線が短めなのでコンセントが近くにない場合は困ります。それ以外は満足です。
                              洗面所、キッチン用にと購入しました。
                              速暖です！200wと400wの切り替えがしたくてこちらにしました。
                              コンパクトサイズなので、置き場所を選びません。
                              色もアラジングリーンが可愛いです。
                              線が短めなのでコンセントが近くにない場合は困ります。それ以外は満足です。
                              洗面所、キッチン用にと購入しました。
                              速暖です！200wと400wの切り替えがしたくてこちらにしました。
                              コンパクトサイズなので、置き場所を選びません。
                              色もアラジングリーンが可愛いです。
                              線が短めなのでコンセントが近くにない場合は困ります。それ以外は満足です。
                             </li>
                        </ul>
                    </div>
                    <div class="postreviewitem-right">
                        <ul class="postreviewitem-helpfullist">
                            <li class="postreviewitem-helpfulbtn">
                                <a class="postreviewitem-helpfullink" href="###">参考になった</a>
                            </li>
                            <li class="postreviewitem-helpfulnum">参考になった人：858人</li>
                        </ul>
                    </div>
                </div>
