<div class="sidebar-inner">
    <div class="sidebar-ttl">カテゴリー</div>
    <div class="sidebar-ttl sidebar-ttl-2">エアコン・空気清浄機・除湿機・加湿器</div>
    <ul class="sidebar-category-list sidebar-category-list-1">
        <li>
            <span class="sidebar-category-list-link"><a href="">エアコン</a></span>
            <ul class="sidebar-category-list sidebar-category-list-4">
                <% for (var i=0; i < 11; i++){ %> 
                <li><span class="sidebar-category-list-link"><a href="">冷暖房おもに6畳(2.2kw)</a></span></li>
                <% } %>
            </ul>
        </li>
    </ul>
</div>