<div class="sidebar-fc-search">
    <div class="sidebar-fc-search-block sidebar-fc-search-keyword">
        <div class="form-block">
            <input type="text" placeholder="キーワードを埋め込む">
        </div>
        <div class="sidebar-fc-search-btns">
            <button class="btn btn-black">絞り込み</button>
            <button class="btn">条件をクリア</button>
        </div>
    </div>
    
    <div class="sidebar-inner sidebar-fc-search-block ">
        <div class="sidebar-ttl">メーカー</div>
        <ul class="form-block-check sidebar-fc-search-check">
            <li><input type="checkbox" id="maker1"><label for="maker1">カクダイ　KAKUDAI（90）</label></li>
            <li><input type="checkbox" id="maker2"><label for="maker2">パナソニック　Panasonic（83）</label></li>
            <li><input type="checkbox" id="maker3"><label for="maker3">日立　HITACHI（83）</label></li>
            <li><input type="checkbox" id="maker4"><label for="maker4">日立｜HITACHI（54）</label></li>
            <li><input type="checkbox" id="maker5"><label for="maker5">リンナイ　Rinnai（42）</label></li>
            <li><input type="checkbox" id="maker6"><label for="maker6">東芝｜TOSHIBA（42）</label></li>
            <li><input type="checkbox" id="maker7"><label for="maker7">パナソニック｜Panasonic（37）</label></li>
            <li><input type="checkbox" id="maker8"><label for="maker8">AQUA｜アクア（36）</label></li>
            <li><input type="checkbox" id="maker9"><label for="maker9">東芝　TOSHIBA（36）</label></li>
            <li><input type="checkbox" id="maker10"><label for="maker10">ELPA｜エルパ（28）</label></li>
        </ul>

        <div class="sidebar-fc-search-btns">
            <button class="btn btn-black">絞り込み</button>
            <button class="btn">条件をクリア</button>
        </div>
    </div>
    
    <div class="sidebar-inner sidebar-fc-search-block ">
        <div class="sidebar-ttl">金額</div>
        
        <div class="form-block sidebar-fc-search-price">
            <div>¥<input type="text" placeholder=""></div>
            〜
            <div>¥<input type="text" placeholder=""></div>
        </div>
        <div class="sidebar-fc-search-btns">
            <button class="btn btn-black">絞り込み</button>
            <button class="btn">条件をクリア</button>
        </div>
        <ul class="sidebar-fc-search-price-list">
            <li>・<a href="">0円～7,000円（0）</a></li>
            <li>・<a href="">7,001円～15,000円（0）</a></li>
            <li>・<a href="">15,001円～31,000円（0）</a></li>
            <li>・<a href="">31,001円～69,000円（0）</a></li>
            <li>・<a href="">69,001円～164,000円（0）</a></li>
        </ul>
    </div>
    
    <div class="sidebar-inner sidebar-fc-search-block ">
        <div class="sidebar-ttl">カスタマーレビュー</div>
        <ul class="sidebar-fc-search-review">
            <li><span class="review-star star5"></span></li>
            <li><span class="review-star star4"></span></li>
            <li><span class="review-star star3"></span></li>
            <li><span class="review-star star2"></span></li>
            <li><span class="review-star star1"></span></li>
        </ul>
    </div>
    
    <div class="sidebar-inner sidebar-fc-search-block ">
        <div class="sidebar-ttl">発売年月日</div>
        <div class="form-block sidebar-fc-search-date">
            <div><input type="text" placeholder=""></div>
            〜
            <div><input type="text" placeholder=""></div>
        </div>

        <div class="sidebar-fc-search-btns">
            <button class="btn btn-black">絞り込み</button>
            <button class="btn">条件をクリア</button>
        </div>

    </div>

</div>
