<div class="sidebar-inner">
	<div class="sidebar-ttl">カテゴリー</div>
	<ul class="sidebar-category-list sidebar-category-list-1">
		<li>
			<span class="sidebar-category-list-link"><a href="">エアコン・空気清浄機・除湿機・加湿器</a></span>
			<ul class="sidebar-category-list sidebar-category-list-2">
				<li><span class="sidebar-category-list-link"><a href="">エアコン</a></span></li>
					<ul class="sidebar-category-list sidebar-category-list-3">
						<li><span class="sidebar-category-list-link"><a href="">冷暖房おもに6畳(2.2kw)</a></span>
							<ul class="sidebar-category-list sidebar-category-list-4">
								<li><span class="sidebar-category-list-link"><a href="">第4階層カテゴリー名</a></span></li>
								<li><span class="sidebar-category-list-link"><a href="">第4階層カテゴリー名</a></span></li>
								<li><span class="sidebar-category-list-link"><a href="">第4階層カテゴリー名</a></span></li>
								<li><span class="sidebar-category-list-link"><a href="">第4階層カテゴリー名</a></span></li>
								<li><span class="sidebar-category-list-link"><a href="">第4階層カテゴリー名</a></span></li>
								<li><span class="sidebar-category-list-link"><a href="">第4階層カテゴリー名</a></span></li>
								<li><span class="sidebar-category-list-link"><a href="">第4階層カテゴリー名</a></span></li>
								<li><span class="sidebar-category-list-link"><a href="">第4階層カテゴリー名</a></span></li>
								<li><span class="sidebar-category-list-link"><a href="">第4階層カテゴリー名</a></span></li>
								<li><span class="sidebar-category-list-link"><a href="">第4階層カテゴリー名</a></span></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>
