<div class="sidebar-inner">
    <div class="sidebar-ttl js-sidebar-ttl">各種照会・登録・変更</div>
    <ul class="sidebar-category-list sidebar-category-list-4 js-sidebar-category-list">
        <li><span class="sidebar-category-list-link"><a href="">購入履歴</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">再び購入</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">工事見積書反映</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">ポイント照会</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">会員情報・メルマガ設定</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">友達/家族紹介</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">お届け先情報</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">家族登録一覧</a></span></li>
    </ul>
</div>

<div class="sidebar-inner">
    <div class="sidebar-ttl js-sidebar-ttl">セール・商品・店舗</div>
    <ul class="sidebar-category-list sidebar-category-list-4 js-sidebar-category-list">
        <li><span class="sidebar-category-list-link"><a href="">クーポン</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">メーカーキャンペーン</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">シークレットセール</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">お気に入り商品</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">商品レビュー</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">生活雑貨・くすり・お酒</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">よく利用する店舗</a></span></li>
    </ul>
</div>

<div class="sidebar-inner">
    <div class="sidebar-ttl js-sidebar-ttl">サービス関連</div>
    <ul class="sidebar-category-list sidebar-category-list-4 js-sidebar-category-list">
        <li><span class="sidebar-category-list-link"><a href="">保証対象商品</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">修理状況</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">訪問修理</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">各種依頼</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">オンライン修理見積</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">小型家電修理品引き取り</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">家電トータルサポート</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">メモ帳</a></span></li>
        <li><span class="sidebar-category-list-link"><a href="">接客予約</a></span></li>
    </ul>
</div>
