<div class="sidebar-inner">
	<div class="sidebar-ttl">カテゴリー</div>
	<ul class="sidebar-category-list sidebar-category-list-1">
		<li>
			<span class="sidebar-category-list-link has-child js-accordion-btn"><a href="javascript:void(0);">エアコン</a></span>
			<ul class="sidebar-category-list sidebar-category-list-4">
                <% for (var i=0; i < 11; i++){ %> 
                <li><span class="sidebar-category-list-link"><a href="">冷暖房おもに6畳(2.2kw)</a></span></li>
                <% } %>
            </ul>
		</li>
	</ul>

    <ul class="sidebar-category-list sidebar-category-list-1">
        <li>
            <span class="sidebar-category-list-link has-child js-accordion-btn"><a href="javascript:void(0);">空気清浄機</a></span>
            <ul class="sidebar-category-list sidebar-category-list-4">
                <% for (var i=0; i < 5; i++){ %> 
                <li><span class="sidebar-category-list-link"><a href="">除加湿空気清浄機</a></span></li>
                <% } %>
            </ul>
        </li>
    </ul>

    <ul class="sidebar-category-list sidebar-category-list-1">
        <li>
            <span class="sidebar-category-list-link has-child js-accordion-btn"><a href="javascript:void(0);">加湿器</a></span>
            <ul class="sidebar-category-list sidebar-category-list-4">
                <% for (var i=0; i < 7; i++){ %> 
                <li><span class="sidebar-category-list-link"><a href="">加湿器　900ml以上</a></span></li>
                <% } %>
            </ul>
        </li>
    </ul>
    
    <ul class="sidebar-category-list sidebar-category-list-1">
        <li>
            <span class="sidebar-category-list-link has-child js-accordion-btn"><a href="javascript:void(0);">除湿機・ファンクーラー</a></span>
            <ul class="sidebar-category-list sidebar-category-list-4">
                <% for (var i=0; i < 4; i++){ %> 
                <li><span class="sidebar-category-list-link"><a href="">カテゴリ名</a></span></li>
                <% } %>
            </ul>
        </li>
    </ul>

    <ul class="sidebar-category-list sidebar-category-list-1">
        <li>
            <span class="sidebar-category-list-link has-child js-accordion-btn"><a href="javascript:void(0);">窓用エアコン</a></span>
            <ul class="sidebar-category-list sidebar-category-list-4">
                <% for (var i=0; i < 4; i++){ %> 
                <li><span class="sidebar-category-list-link"><a href="">カテゴリ名</a></span></li>
                <% } %>
            </ul>
        </li>
    </ul>

    <ul class="sidebar-category-list sidebar-category-list-1">
        <li>
            <span class="sidebar-category-list-link has-child js-accordion-btn"><a href="javascript:void(0);">空気清浄機フィルター＆加湿器フィルター</a></span>
            <ul class="sidebar-category-list sidebar-category-list-4">
                <% for (var i=0; i < 4; i++){ %> 
                <li><span class="sidebar-category-list-link"><a href="">カテゴリ名</a></span></li>
                <% } %>
            </ul>
        </li>
    </ul>
</div>
