<section class="favoritelist">
    <div class="inner inner-large">
        <h2 class="favoritelist-ttl">お気に入り一覧</h2>
        <div class="owl-carousel owl-theme favoritelist-slider customslider">
            <%  for (var i = 0; i < 3; i++){ %>
                <div class="favoritelist-item">
                    <div class="favoritelist-inner">
                        <div class="favoritelist-img">
                            <a href="" class=""><img src="./assets/img/cart/item-230x230.png" alt=""></a>
                        </div>
                        <div class="favoritelist-text">
                            <div class="favoritelist-texttop">
                                <h3 class="favoritelist-name">
                                    <a href="#">パナソニック セラミックファンヒーター オリジナル グレー DSFTS12E1H<br><span class="favoritelist-price">￥12,980(税込)</span></a>
                                </h3>
                            </div>
                            <div class="favoritelist-textbottom">
                                <span class="favoritelist-creditstat">当社クレジットカード会員1%</span>
                                <span class="favoritelist-stockstat">在庫あり</span>
                                <span class="favoritelist-deliverystat">翌日出荷（大型品は別途ご案内）</span>
                            </div>
                        </div>
                    </div>
                    <div class="favoritelist-btn">
                        <a href="#">配送受取で<br class="is-sp">カートに入れる</a>
                        <a href="#">店舗受取で<br class="is-sp">カートに入れる</a>
                    </div>
                </div>
            <%  } %>
        </div>
    </div>
</section>
