
<section class="feature-area">
    <div class="inner inner-large">
    
        <h2 class="section-heading is-pc"><%- title %></h2>
        <div class="owl-carousel owl-theme sliderfeature customslider">
            <div class="item">
                <div class="subtitle">サブタイトル</div>
                <a href=""><img src="./assets/img/category/catecory-list-img01.jpg" width="208" alt=""></a>
            </div>
            <div class="item">
                <div class="subtitle">サブタイトル</div>
                <a href=""><img src="./assets/img/category/catecory-list-img02.jpg" width="208" alt=""></a>
            </div>
            <div class="item">
                <div class="subtitle">サブタイトル</div>
                <a href=""><img src="./assets/img/category/catecory-list-img03.jpg" width="208" alt=""></a>
            </div>
            <div class="item">
                <div class="subtitle">サブタイトル</div>
                <a href=""><img src="./assets/img/category/catecory-list-img04.jpg" width="208" alt=""></a>
            </div>
            <div class="item">
                <div class="subtitle">サブタイトル</div>
                <a href=""><img src="./assets/img/category/catecory-list-img05.jpg" width="208" alt=""></a>
            </div>
        </div>

    </div>
</section>