<section class="includes_ranking">
    <div class="inner inner-large">
        <h2 class="section-heading"><%- title %></h2>
        <div class="basicgrid basicgrid-<%- columum %>">
            <div class="item">
                <div class="itemcard ranking">
                    <div class="itemcard-left">
                        <a href="" class="itemcard-img">
                            <img src="./assets/img/category/category-item01.jpg" alt="">
                        </a>
                        <div class="compensation">エディオンカード<br>長期修理保証5年</div>
                    </div>
                    <div class="itemcard-right">
                        <h3 class="itemcard-heading"><a href="">パナソニック セラミックファンヒーター オリジナル グレー DSFTS12E1H</a></h3>
                        <div class="itemcard-price">￥12,980(税込)</div>
                        <div class="itemcard-star"><span class="review-star star5"></span>(6)</div>
                        <div class="itemcard-info">
                            <div class="itemcard-info-discount">
                                <span class="is-pc">当社クレジットカード会員1%</span>
                                <span class="is-sp">エディオンカード会員<br>100満ボルトカード会員1％</span>
                            </div>
                            <div class="itemcard-info-stock stock2">在庫あり</div>
                            <div class="itemcard-info-shipping">翌日出荷（大型品は別途ご案内）</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="itemcard">
                    <div class="itemcard-left">
                        <a href="" class="itemcard-img">
                            <img src="./assets/img/category/category-item01.jpg" alt="">
                        </a>
                        <div class="compensation">エディオンカード<br>長期修理保証5年</div>
                    </div>
                    <div class="itemcard-right">
                        <h3 class="itemcard-heading"><a href="">パナソニック セラミックファンヒーター オリジナル グレー DSFTS12E1H</a></h3>
                        <div class="itemcard-price">￥12,980(税込)_</div>
                        <div class="itemcard-star"><span class="review-star star4_5"></span>(6)</div>
                        <div class="itemcard-info">
                            <div class="itemcard-info-discount">
                                <span class="is-pc">当社クレジットカード会員1%</span>
                                <span class="is-sp">エディオンカード会員<br>100満ボルトカード会員1％</span>
                            </div>
                            <div class="itemcard-info-stock stock1">在庫数17台</div>
                            <div class="itemcard-info-shipping">翌日出荷（大型品は別途ご案内）</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="itemcard">
                    <div class="itemcard-left">
                        <a href="" class="itemcard-img">
                            <img src="./assets/img/category/category-item01.jpg" alt="">
                        </a>
                        <div class="compensation">エディオンカード<br>長期修理保証5年</div>
                    </div>
                    <div class="itemcard-right">
                        <h3 class="itemcard-heading"><a href="">パナソニック セラミックファンヒーター オリジナル グレー DSFTS12E1H</a></h3>
                        <div class="itemcard-price">￥12,980(税込)</div>
                        <div class="itemcard-star"><span class="review-star star4"></span>(6)</div>
                        <div class="itemcard-info">
                            <div class="itemcard-info-discount">
                                <span class="is-pc">当社クレジットカード会員1%</span>
                                <span class="is-sp">エディオンカード会員<br>100満ボルトカード会員1％</span>
                            </div>
                            <div class="itemcard-info-stock stock0">在庫なし</div>
                            <div class="itemcard-info-shipping">翌日出荷（大型品は別途ご案内）</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="itemcard">
                    <div class="itemcard-left">
                        <a href="" class="itemcard-img">
                            <img src="./assets/img/category/category-item01.jpg" alt="">
                        </a>
                        <div class="compensation">エディオンカード<br>長期修理保証5年</div>
                    </div>
                    <div class="itemcard-right">
                        <h3 class="itemcard-heading"><a href="">パナソニック セラミックファンヒーター オリジナル グレー DSFTS12E1H</a></h3>
                        <div class="itemcard-price">￥12,980(税込)</div>
                        <div class="itemcard-star"><span class="review-star star3_5"></span>(6)</div>
                        <div class="itemcard-info">
                            <div class="itemcard-info-discount">
                                <span class="is-pc">当社クレジットカード会員1%</span>
                                <span class="is-sp">エディオンカード会員<br>100満ボルトカード会員1％</span>
                            </div>
                            <div class="itemcard-info-stock stock2">在庫あり</div>
                            <div class="itemcard-info-shipping">翌日出荷（大型品は別途ご案内）</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="itemcard">
                    <div class="itemcard-left">
                        <a href="" class="itemcard-img">
                            <img src="./assets/img/category/category-item01.jpg" alt="">
                        </a>
                        <div class="compensation">エディオンカード<br>長期修理保証5年</div>
                    </div>
                    <div class="itemcard-right">
                        <h3 class="itemcard-heading"><a href="">パナソニック セラミックファンヒーター オリジナル グレー DSFTS12E1H</a></h3>
                        <div class="itemcard-price">￥12,980(税込)</div>
                        <div class="itemcard-star"><span class="review-star star3"></span>(6)</div>
                        <div class="itemcard-info">
                            <div class="itemcard-info-discount">
                                <span class="is-pc">当社クレジットカード会員1%</span>
                                <span class="is-sp">エディオンカード会員<br>100満ボルトカード会員1％</span>
                            </div>
                            <div class="itemcard-info-stock stock2">在庫あり</div>
                            <div class="itemcard-info-shipping">翌日出荷（大型品は別途ご案内）</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="itemcard">
                    <div class="itemcard-left">
                        <a href="" class="itemcard-img">
                            <img src="./assets/img/category/category-item01.jpg" alt="">
                        </a>
                        <div class="compensation">エディオンカード<br>長期修理保証5年</div>
                    </div>
                    <div class="itemcard-right">
                        <h3 class="itemcard-heading"><a href="">パナソニック セラミックファンヒーター オリジナル グレー DSFTS12E1H</a></h3>
                        <div class="itemcard-price">￥12,980(税込)</div>
                        <div class="itemcard-star"><span class="review-star star2_5"></span>(6)</div>
                        <div class="itemcard-info">
                            <div class="itemcard-info-discount">当社クレジットカード会員1%</div>
                            <div class="itemcard-info-stock stock2">在庫あり</div>
                            <div class="itemcard-info-shipping">翌日出荷（大型品は別途ご案内）</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="itemcard">
                    <div class="itemcard-left">
                        <a href="" class="itemcard-img">
                            <img src="./assets/img/category/category-item01.jpg" alt="">
                        </a>
                        <div class="compensation">エディオンカード<br>長期修理保証5年</div>
                    </div>
                    <div class="itemcard-right">
                        <h3 class="itemcard-heading"><a href="">パナソニック セラミックファンヒーター オリジナル グレー DSFTS12E1H</a></h3>
                        <div class="itemcard-price">￥12,980(税込)</div>
                        <div class="itemcard-star"><span class="review-star star2"></span>(6)</div>
                        <div class="itemcard-info">
                            <div class="itemcard-info-discount">
                                <span class="is-pc">当社クレジットカード会員1%</span>
                                <span class="is-sp">エディオンカード会員<br>100満ボルトカード会員1％</span>
                            </div>
                            <div class="itemcard-info-stock stock2">在庫あり</div>
                            <div class="itemcard-info-shipping">翌日出荷（大型品は別途ご案内）</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="itemcard">
                    <div class="itemcard-left">
                        <a href="" class="itemcard-img">
                            <img src="./assets/img/category/category-item01.jpg" alt="">
                        </a>
                        <div class="compensation">エディオンカード<br>長期修理保証5年</div>
                    </div>
                    <div class="itemcard-right">
                        <h3 class="itemcard-heading"><a href="">パナソニック セラミックファンヒーター オリジナル グレー DSFTS12E1H</a></h3>
                        <div class="itemcard-price">￥12,980(税込)</div>
                        <div class="itemcard-star"><span class="review-star star1_5"></span>(6)</div>
                        <div class="itemcard-info">
                            <div class="itemcard-info-discount">
                                <span class="is-pc">当社クレジットカード会員1%</span>
                                <span class="is-sp">エディオンカード会員<br>100満ボルトカード会員1％</span>
                            </div>
                            <div class="itemcard-info-stock stock2">在庫あり</div>
                            <div class="itemcard-info-shipping">翌日出荷（大型品は別途ご案内）</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="itemcard">
                    <div class="itemcard-left">
                        <a href="" class="itemcard-img">
                            <img src="./assets/img/category/category-item01.jpg" alt="">
                        </a>
                        <div class="compensation">エディオンカード<br>長期修理保証5年</div>
                    </div>
                    <div class="itemcard-right">
                        <h3 class="itemcard-heading"><a href="">パナソニック セラミックファンヒーター オリジナル グレー DSFTS12E1H</a></h3>
                        <div class="itemcard-price">￥12,980(税込)</div>
                        <div class="itemcard-star"><span class="review-star star0"></span>(6)</div>
                        <div class="itemcard-info">
                            <div class="itemcard-info-discount">当社クレジットカード会員1%</div>
                            <div class="itemcard-info-stock stock2">在庫あり</div>
                            <div class="itemcard-info-shipping">翌日出荷（大型品は別途ご案内）</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>  
    </div>      
</section>

