<section style="overflow:hidden">
    <div class="inner inner-large">
        <h2 class="section-heading"><%- title %></h2>
        <div class="owl-carousel owl-theme sliderhistory-eight customslider">
            <% for (var i=0; i < 8; i++){ %> 
                <div class="item">
                    <div class="itemcard-virtical">
                        <a href="" class="itemcard-virtical-img"><img src="./assets/img/detail/detail-0<%- i+1 %>.jpg" alt=""></a>
                        <h3 class="itemcard-virtical-heading"><a href="">パナソニック セラミックファンヒーター オリジナル グレー DSFTS12E1H</a></h3>
                        <div class="itemcard-virtical-price">￥12,980(税込)</div>
                        <div class="itemcard-virtical-review">
                            <p class="review-star star5"></p>
                            <p class="-count">(6)</p>
                        </div>
                    </div>
                </div>
            <% } %> 
        </div>
    </div>
</section>